@desktop: ~"only screen and (min-width: 601px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
.NavigatorDiv {
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarAppBar {
  background-color: #111111;
  @media @mobile {
    height: 60px;
    display: flex;
    justify-content: center;
    border: transparent;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarToolbar {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarMenuIconButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarMenuIconMenuIcon {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarTitleTypography {
  flex-grow: 1;
  font-size: 1.4rem;
  @media @mobile {
    font-size: 1rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarToEditModeButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarLoginButton {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutTitleTypography {
  font-size: 3rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutIconImg {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
