@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@desktop: ~"only screen and (min-width: 601px)";
@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for main  component used  */

.MainDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTestDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTestTitleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTestSubTitleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductDivSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductDivListWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductIdTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductCountTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductColorTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainProductUpdateTimeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for account  component used  */

.AccountPaper:extend(.CenterInParentColumn) {
  width: 85vw;
  min-height: 50vh;
  gap: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 550px;
  }
}
.AccountUrlOfHeadPhotoAvatar {
  width: 60px;
  height: 60px;
  @media @mobile {
    margin-bottom: 20px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin-bottom: 40px;
  }
}
.AccountFuncAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 80%;
  justify-content: space-between;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameLabelOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameValueOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountSpaceDiv {
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailDiv:extend(.AccountFuncAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailLabelOfEmailTypography {
  @media @mobile {
    font-size: 0.9rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailValueOfEmailTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdDiv:extend(.AccountFuncAreaOfNameDiv) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdLabelOfIdTypography {
  @media @mobile {
    font-size: 0.9rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdValueOfIdTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditDiv:extend(.CenterInParentRow) {
  gap: 10px;
  margin-top: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditCopyUserIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditToEditModeButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for navigator  component used  */

.NavigatorDiv {
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarToolbar {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAppBarWrap {
  background-color: #111111;
  @media @mobile {
    height: 60px;
    display: flex;
    justify-content: center;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconMenuIcon {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarTitleTypography {
  width: 80px;
  font-size: 1.4rem;
  @media @mobile {
    font-size: 1rem;
    width: 50px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteAutocomplete {
  flex-grow: 1;
  margin-right: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteInputTextField {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  @media @mobile {
    width: 95%;
  }
  @media @tablet {
    width: 95%;
  }
  @media @desktop {
    width: 70%;
    max-width: 500px;
  }
}
.NavigatorToolBarCompleteInputFormWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarLoginButton {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountIconButton {
  background-color: rgba(255, 255, 255, 0.9);
  height: 32px;
  width: 32px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountHeadAccountCircle {
  height: 40px;
  width: 40px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItemSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutTitleTypography {
  font-size: 3rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutIconImg {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestDiv:extend(.MainTestDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestDivWrap:extend(.MainTestDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestSubTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductDiv:extend(.MainProductDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductDivWrap:extend(.MainProductDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductDivList:extend(.MainProductDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductDivListWrap:extend(.MainProductDivListWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductNameTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductCountTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductColorTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorProductUpdateTimeTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
