@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@desktop: ~"only screen and (min-width: 601px)";
@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for main  component used  */

.MainDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTestDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTestTitleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTestSubTitleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for epayTest  component used  */

.EpayTestDiv:extend(.CenterInParentColumn) {
  gap: 25px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCreatePreciseOrderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCheckoutByLinePayButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCheckoutByEcPayButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestIdOfCurrentPreciseOrderTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestIdOfPreciseOrderInputTextField {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestFindEcPayPageByIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestFindLinePayPageByIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for account  component used  */

.AccountPaper:extend(.CenterInParentColumn) {
  width: 90vw;
  min-height: 60vh;
  gap: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 550px;
  }
}
.AccountUrlOfHeadPhotoAvatar {
  width: 60px;
  height: 60px;
  @media @mobile {
    margin-bottom: 20px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin-bottom: 40px;
  }
}
.AccountFuncAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 80%;
  justify-content: space-between;
  @media @mobile {
    width: 90%;
  }
  @media @tablet {
    width: 90%;
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameLabelOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameValueOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountSpaceDiv {
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    width: 90%;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailDiv:extend(.AccountFuncAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailLabelOfEmailTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    font-size: 0.8rem;
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailValueOfEmailTypography {
  @media @mobile {
    font-size: 0.7rem;
  }
  @media @tablet {
    font-size: 0.7rem;
  }
  @media @desktop {
    font-size: 0.8rem;
  }
}
.AccountFuncAreaOfIdDiv:extend(.AccountFuncAreaOfNameDiv) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdLabelOfIdTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    font-size: 0.8rem;
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.AccountFuncAreaOfIdStateAreaOfIdValueOfIdTypography {
  @media @mobile {
    font-size: 0.7rem;
  }
  @media @tablet {
    font-size: 0.7rem;
  }
  @media @desktop {
    font-size: 0.8rem;
  }
}
.AccountFuncAreaOfEditDiv:extend(.CenterInParentRow) {
  gap: 10px;
  margin-top: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditCopyUserIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditToEditModeButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for epay  component used  */

.EpayDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMessageOfEPayTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayStatementTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for epayBehaviorOfConfirmLinePay  component used  */

.EpayBehaviorOfConfirmLinePayDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayBehaviorOfConfirmLinePayMessageOfFreezeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for epayPurchaseOfHistory  component used  */

.EpayPurchaseOfHistoryDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryTabTab {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryTabTabsList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderCard {
  padding: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    min-width: 500px;
  }
}
.EpayPurchaseOfHistoryOrderDivList:extend(.CenterInParentColumn) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopDiv:extend(.CenterInParentRow) {
  justify-content: space-between;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadDiv:extend(.CenterInParentRow) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadStringOfOrderIdentityTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadCopyIdentityOfOrderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailStateOfOrderTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraIconMoreHoriz {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefDiv:extend(.CenterInParentRow) {
  justify-content: flex-start;
  gap: 5px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefImageOfProductPhotoImg {
  flex-grow: 2;
  min-height: 40px;
  background-color: #008800;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionDiv:extend(.CenterInParentColumn) {
  align-items: flex-end;
  flex-grow: 5;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionNameOfProductTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionNameOfProductDivWrap {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionSpecificOfProductTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionQuantityTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceDiv:extend(.CenterInParentRow) {
  justify-content: flex-end;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceLabelOfTotalPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceValueOfTotalPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoDiv:extend(.CenterInParentRow) {
  background-color: lightgray;
  min-height: 70px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoDomainTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoSectionOfInfoDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoSectionOfInfoCodeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoSectionOfInfoCopyButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoTopicTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoDeadlineTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfFuncDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfFuncCheckoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for navigator  component used  */

.NavigatorDiv {
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarToolbar {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAppBarWrap {
  background-color: #111111;
  height: 60px;
  display: flex;
  justify-content: center;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconMenuIcon {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarTitleTypography {
  width: 80px;
  font-size: 1.4rem;
  @media @mobile {
    font-size: 1rem;
    width: 50px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteAutocomplete {
  flex-grow: 1;
  margin-right: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteInputTextField {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  @media @mobile {
    width: 95%;
  }
  @media @tablet {
    width: 95%;
  }
  @media @desktop {
    width: 70%;
    max-width: 500px;
  }
}
.NavigatorToolBarCompleteInputFormWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarLoginButton {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountIconButton {
  background-color: rgba(255, 255, 255, 0.9);
  height: 32px;
  width: 32px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountHeadAccountCircle {
  height: 40px;
  width: 40px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItemSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutTitleTypography {
  font-size: 3rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutIconImg {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestDiv:extend(.MainTestDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestDivWrap:extend(.MainTestDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorTestSubTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** ======== following for homeless ========= */

.EpayTestEcPayCheckoutViewDiv {
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
