@desktop: ~'only screen and (min-width: 601px)';
@tablet: ~'only screen and (min-width: 320px) and (max-width: 600px)';
@mobile: ~'only screen and (min-width: 320px) and (max-width: 600px)';
.AccountPaper:extend(.CenterInParentColumn) {
    width: 90vw;
    min-height: 60vh;
    gap: 4px;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        max-width: 550px;
    }
}
.AccountDivWrap:extend(.CenterInParentColumn) {
    gap: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountInfoDiv:extend(.CenterInParentColumn) {
    margin-bottom: 20px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountInfoUrlOfHeadPhotoAvatar {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountInfoValueOfNameTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountInfoValueOfEmailTypography {
    @media @mobile {
        font-size: 0.7rem;
    }
    @media @tablet {
        font-size: 0.7rem;
    }
    @media @desktop {
        font-size: 0.8rem;
    }
}
.AccountBasicDiv:extend(.CenterInParentRow) {
    justify-content: space-between;
    width: 95%;
    min-height: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountBasicLabelOfPropTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountBasicLangMenuItem {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountBasicLangTextFieldList {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaDiv:extend(.CenterInParentColumn) {
    width: 100%;
    gap: 2px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAccordionDetails {
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAccordionWrap {
    width: 95%;
    transition: all 0.2s ease;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfListOfAuthorOrderDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfListOfAuthorOrderDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfListOfAuthorOrderOptionOfListOfAuthorOrderTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfListOfAuthorOrderOptionOfListOfAuthorOrderContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfListOfAuthorOrderArrowOfListOfAuthorOrderIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfListOfAuthorOrderArrowOfListOfAuthorOrderIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfAppendBoozeDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfAppendBoozeDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfAppendBoozeOptionOfAppendBoozeTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfAppendBoozeOptionOfAppendBoozeContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfAppendBoozeArrowOfAppendBoozeIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfAppendBoozeArrowOfAppendBoozeIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfGoToMyBoozeDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfGoToMyBoozeDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfGoToMyBoozeOptionOfGoToMyBoozeTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfGoToMyBoozeOptionOfGoToMyBoozeContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfGoToMyBoozeArrowOfGoToMyBoozeIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfGoToMyBoozeArrowOfGoToMyBoozeIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMarketSettingDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMarketSettingDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMarketSettingOptionOfMarketSettingTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMarketSettingOptionOfMarketSettingContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMarketSettingArrowOfMarketSettingIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMarketSettingArrowOfMarketSettingIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyScheduleDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyScheduleDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyScheduleOptionOfMyScheduleTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyScheduleOptionOfMyScheduleContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyScheduleArrowOfMyScheduleIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyScheduleArrowOfMyScheduleIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyReportDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyReportDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyReportOptionOfMyReportTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyReportOptionOfMyReportContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyReportArrowOfMyReportIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleAreaOfMyReportArrowOfMyReportIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleSummaryAccordionSummary {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaSaleSummaryTitleOfSaleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAccordionDetails:extend(.AccountAreaSaleAccordionDetails) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAccordionWrap:extend(.AccountAreaSaleAccordionWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAreaOfListOfUserOrderDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAreaOfListOfUserOrderDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAreaOfListOfUserOrderOptionOfListOfUserOrderTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAreaOfListOfUserOrderOptionOfListOfUserOrderContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAreaOfListOfUserOrderArrowOfListOfUserOrderIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuyAreaOfListOfUserOrderArrowOfListOfUserOrderIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuySummaryAccordionSummary {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaBuySummaryTitleOfBuyTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAccordionDetails:extend(.AccountAreaSaleAccordionDetails) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAccordionWrap:extend(.AccountAreaSaleAccordionWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfGoEditModeDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfGoEditModeDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfGoEditModeOptionOfGoEditModeTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfGoEditModeOptionOfGoEditModeContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfGoEditModeArrowOfGoEditModeIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfGoEditModeArrowOfGoEditModeIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAdminDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAdminDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAdminOptionOfAppendAdminTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAdminOptionOfAppendAdminContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAdminArrowOfAppendAdminIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAdminArrowOfAppendAdminReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAdminArrowOfAppendAdminIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAuthorDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAuthorDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAuthorOptionOfAppendAuthorTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAuthorOptionOfAppendAuthorContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAuthorArrowOfAppendAuthorIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAuthorArrowOfAppendAuthorReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendAuthorArrowOfAppendAuthorIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendReaderDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendReaderDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendReaderOptionOfAppendReaderTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendReaderOptionOfAppendReaderContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendReaderArrowOfAppendReaderIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendReaderArrowOfAppendReaderReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminAreaOfAppendReaderArrowOfAppendReaderIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminSummaryAccordionSummary {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaAdminSummaryTitleOfAdminTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAccordionDetails:extend(.AccountAreaSaleAccordionDetails) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAccordionWrap:extend(.AccountAreaSaleAccordionWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfTokenDiv:extend(.AccountBasicDiv) {
    border-top: 1px solid #e0e0e0;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfTokenDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfTokenOptionOfTokenTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfTokenOptionOfTokenContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfTokenArrowOfTokenIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfTokenArrowOfTokenIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfCleanCacheDiv:extend(.AccountAreaUserAreaOfTokenDiv) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfCleanCacheDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfCleanCacheOptionOfCleanCacheTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfCleanCacheOptionOfCleanCacheContentTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfCleanCacheArrowOfCleanCacheIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserAreaOfCleanCacheArrowOfCleanCacheIconNavigateNext {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserSummaryAccordionSummary {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountAreaUserSummaryTitleOfUserTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountLogoutChip {
    margin-top: 12px;
    width: 100px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.AccountLogoutReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
