@desktop: ~"only screen and (min-width: 601px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
.InfoOfCopyRightDiv:extend(.CenterInParentColumn) {
  margin-top: 30px;
  width: 100vw;
  align-items: flex-end;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 800px;
  }
}
.InfoOfCopyRightUpperGroupDiv:extend(.CenterInParentRow) {
  justify-content: space-between;
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaContactButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaContactReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaBusinessButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaBusinessReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaResponsibilityOffButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaResponsibilityOffReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaSeparatorTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaCprtButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaFbIconButton {
  width: 30px;
  height: 30px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    width: 35px;
    height: 35px;
  }
}
.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg {
  width: 25px;
  height: 25px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    width: 32px;
    height: 32px;
  }
}
.InfoOfCopyRightGroupOfSocialMediaIgIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaFbIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaIgImgOfIgImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaLineIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaFbIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaLineImgOfLineImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactCard:extend(.CenterInParentColumn) {
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
  @media @mobile {
    padding: 10px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaContactTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaContactDivWrap:extend(.CenterInParentColumn) {
  width: fit-content;
  padding: 6px;
  padding-left: 9px;
  background: #d2d2d2;
  border-radius: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailDiv:extend(.CenterInParentColumn) {
  margin-top: 20px;
  gap: 10px;
  align-items: flex-start;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneDivWrap:extend(.CenterInParentRow) {
  justify-content: flex-start;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneBtnOfPhoneIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneBtnOfPhoneIconPhoneOutlined {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneLabelOfPhoneTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailDivWrap:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailBtnOfEmailIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailBtnOfEmailIconMailOutlined {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailLabelOfEmailTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaDiv:extend(.CenterInParentRow) {
  width: 100%;
  justify-content: flex-end;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaFbIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaFbIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaFbImgOfFbImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaIgIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaIgIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaIgImgOfIgImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaLineIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaIgIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaLineImgOfLineImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaDiv:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaIntroduceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaIntroduceDivWrap:extend(.InfoOfCopyRightContactUpperAreaContactDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaDetailsTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  margin-top: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentPaper {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentUpperAreaDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentUpperAreaAdvantageStmtTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectCard {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectCardSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectImageImg {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectImageDivWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectImageSimulatorDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectTitleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
