/** => following for login component used <= */

.LoginDiv {
  /** style */
  width: 100vw;
  height: 20%;
}

.LoginDivWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

/** => following for navigator component used <= */

.NavigatorHomeAreaHomeImg {
  /** style */
}

.NavigatorHomeAreaAvatar {
  /** style */
  width: 4vh;
  height: 4vh;
}

.NavigatorFunctionDiv {
  /** style */
  flex: 1;
}

.NavigatorLoginButton {
  /** style */
  height: 4.5vh;
  min-width: 12vw;
  font-size: 2.5rem;
}

.NavigatorLoginButtonWrapDiv {
  /** style */
  margin: 0.5%;
}

.NavigatorDiv {
  /** style */
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0.5%;
  max-height: 6vh;
}

/** => following for main component used <= */

.MainJuniorButton {
  /** style */
  margin: 5px;
  min-height: 10vw;
  min-width: 20vh;
  font-size: 2.2em;
  color: #0074d9;
  border-color: #0074d9;
}

.MainHighButton:extend(.MainJuniorButton all) {
  /** style */
}

.MainSocialButton:extend(.MainJuniorButton all) {
  /** style */
}

.MainPurchaseButton:extend(.MainJuniorButton all) {
  /** style */
}

.MainDiv {
  /** style */
}

/** => following for exam component used <= */

.ExamHeadDiv {
  /** style */
}

.ExamFunctionAreaEndButton {
  /** style */
  width: 27vw;
  height: 10vw;
  font-size: 2rem;
}

.ExamFunctionAreaSpaceDiv {
  /** style */
  width: 3vh;
}

.ExamFunctionAreaRestartButton {
  /** style */
  width: 27vw;
  height: 10vw;
  font-size: 2rem;
  outline-width: 5px;
}

.ExamFunctionAreaDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center; /** style */
}

.ExamTailDiv {
  /** style */
  height: 1vh;
}

.ExamDiv {
  /** style */
  background-color: #888888;
}

.ExamQuestionTopicTypography {
  /** style */
  font-weight: bold;
  font-size: 2.8rem;
}

.ExamQuestionTopicTypographyWrapDiv {
  /** style */
}

.ExamQuestionTipTypography {
  /** style */
}

.ExamQuestionTipTypographyWrapDiv {
  /** style */
}

.ExamQuestionCard {
  /** style */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
  padding: 1vw;
}

.ExamQuestionAlertImageImg {
  /** style */
  opacity: 0.3;
  height: 70%;
}

.ExamQuestionAlertImageImgWrapDiv {
  /** style */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ExamQuestionAlertOuterDiv {
  /** style */
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.ExamQuestionCardWrapDiv {
  /** style */
  position: relative;
}

.ExamQuestionChoiceStatementButton {
  /** style */
  text-align: left;
  font-size: 2.1rem;
}

.ExamQuestionChoiceStatementButtonWrapDiv {
  /** style */
  margin-bottom: 1vh;
}

.ExamQuestionChoiceDiv {
  /** style */
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/** => following for result component used <= */

.ResultScoreTypography {
  /** style */
}

.ResultMessageTypography {
  /** style */
}

.ResultCard {
  /** style */
}

/** => following for purchase component used <= */

.PurchaseDivArrayWrapDiv {
  /** style */
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.PurchaseDiv {
  /** style */
  display: flex;
  justify-content: center;
}

.PurchasePlanNameTypography {
  /** style */
  font-size: 1.4rem;
}

.PurchasePlanNameTypographyWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 6vh;
  align-items: center;
}

.PurchasePlanSpaceDiv {
  /** style */
  height: 1px;
  background-color: #111111;
}

.PurchasePlanPriceTypography:extend(.PurchasePlanNameTypography all) {
  /** style */
}

.PurchasePlanPricePriceTipTypography {
  /** style */
}

.PurchasePlanPriceTypographyWrapDiv:extend(.PurchasePlanNameTypographyWrapDiv
    all) {
  /** style */
  flex-direction: column;
}

.PurchasePlanBuyButton {
  /** style */
}

.PurchasePlanBuyButtonWrapDiv:extend(.PurchasePlanNameTypographyWrapDiv all) {
  /** style */
  border-style: none;
}

.PurchasePlanDiv {
  /** style */
  display: flex;
  width: 20vw;
  flex-direction: column;
}

/** ======== following for  ========= */

body {
  margin: 0;
}

.firebaseui-idp-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-js-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-button--raised:extend(.firebaseui-id-idp-button all) {
}

.firebaseui-idp-google:extend(.firebaseui-id-idp-button all) {
}

.firebaseui-id-idp-button {
  max-width: unset !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 6rem;
}

.firebaseui-container {
  max-width: 90% !important;
}

.firebaseui-idp-text:extend(.firebaseui-idp-text-short all) {
}

.firebaseui-idp-text-long:extend(.firebaseui-idp-text-short all) {
}

.firebaseui-idp-text-short {
  font-size: 2.3rem !important;
  font-family: var(--sec-font);
}

.firebaseui-idp-icon {
  height: 3vmin !important;
  width: 3vmin !important;
}

.firebaseui-tospp-full-message {
  font-size: 2.3rem !important;
}

.firebaseui-tos:extend(.firebaseui-tospp-full-message all) {
}
