@desktop: ~'only screen and (min-width: 601px)';
@tablet: ~'only screen and (min-width: 320px) and (max-width: 600px)';
@mobile: ~'only screen and (min-width: 320px) and (max-width: 600px)';
.IreneDiv {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchPaper:extend(.CenterInParentColumn) {
    width: 90vw;
    padding: 5px;
    padding-top: 25px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        width: 500px;
    }
}
.IreneTextsFetchDivWrap {
    width: 100%;
    margin: auto;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchTitleDiv:extend(.CenterInParentRow) {
    width: 100%;
    padding-left: 5px;
    justify-content: space-between;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        padding-left: 12px;
    }
}
.IreneTextsFetchTitleDivList:extend(.CenterInParentColumn) {
    width: 100%;
    gap: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchTitleIndexTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchTitleContentTextField {
    width: 70%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchTitleClearIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchTitleClearIconDeleteForeverRounded {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchFuncDiv:extend(.CenterInParentRow) {
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchFuncAppendChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsFetchFuncLeaveChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchPaper:extend(.CenterInParentColumn) {
    width: 90vw;
    padding: 5px;
    padding-top: 25px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        width: 500px;
    }
}
.IreneTextFetchDivWrap {
    width: 100%;
    margin: auto;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchRowDiv:extend(.CenterInParentRow) {
    width: 100%;
    padding-left: 5px;
    justify-content: space-between;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchRowTitleTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchRowContentTextField {
    width: 70%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchRowClearIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchRowClearIconClearRounded {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchFuncDiv:extend(.CenterInParentRow) {
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchFuncAppendChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextFetchFuncLeaveChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterPaper:extend(.CenterInParentColumn) {
    width: 90vw;
    padding: 5px;
    padding-top: 25px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        width: 500px;
    }
}
.IreneTextsIndexSetterDivWrap {
    width: 100%;
    margin: auto;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterRowDiv:extend(.CenterInParentRow) {
    width: 100%;
    padding-left: 5px;
    justify-content: space-between;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        padding-left: 12px;
        padding-right: 12px;
    }
}
.IreneTextsIndexSetterRowDivList:extend(.CenterInParentColumn) {
    width: 100%;
    gap: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterRowBelongCheckbox {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterRowBelongDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterRowLabelTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterRowGoTopChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterFuncDiv:extend(.CenterInParentRow) {
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterFuncUpdateChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTextsIndexSetterFuncLeaveChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodPaper:extend(.CenterInParentColumn) {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 95vw;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        width: 500px;
    }
}
.IreneTimePeriodDivWrap {
    margin: auto;
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodMainDiv:extend(.CenterInParentColumn) {
    gap: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodMainTimeOfStartTimePicker {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodMainTimeOfStartDivWrap:extend(.CenterInParentRow) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodMainTimeOfStartLabelOfTimeOfStartTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodMainTimeOfEndTimePicker {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodMainTimeOfEndDivWrap:extend(.CenterInParentRow) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodMainTimeOfEndLabelOfTimeOfEndTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodFuncDiv:extend(.CenterInParentRow) {
    margin-top: 30px;
    gap: 15px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodFuncConfirmChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneTimePeriodFuncLeaveChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterPaper:extend(.CenterInParentColumn) {
    padding-top: 25px;
    padding-bottom: 25px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        width: 500px;
    }
}
.IreneNumberSetterDivWrap {
    margin: auto;
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterRowDiv:extend(.CenterInParentRow) {
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterRowDivList:extend(.CenterInParentColumn) {
    gap: 10px;
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterRowLabelTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterRowColonTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterRowValueTextField {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterFuncDiv:extend(.CenterInParentRow) {
    margin-top: 30px;
    gap: 15px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterFuncConfirmChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.IreneNumberSetterFuncLeaveChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
