{{{name就是question}}}
{{{fieldName就是questions}}}
{{{functionName就是Questions}}}
{{{fieldClass就是Question}}}
{{{hasPath就是true/flase}}}
get{{functionName}}() {
return this.normalizeTimestamp(this.{{fieldName}});
}

@action
remove{{functionName}}() {
this.{{fieldName}} = {{{defaultValue}}};
}

@action
set{{functionName}}(param) {
if(param !== undefined) {
{{#isTimePickerView}}
    {{{這裡就是放if暨isTimePickerView的邏輯}}}
    this.{{fieldName}} = this.normalizeAsMoment(param);
{{/isTimePickerView}}
{{^isTimePickerView}}
    {{{這裡就是放else暨不等於isTimePickerView的邏輯}}}
    this.{{fieldName}} = param;
{{/isTimePickerView}}
} else {
this.{{fieldName}} = {{{defaultValue}}};
}
}

