{{{name就是question}}}
{{{fieldName就是questions}}}
{{{functionName就是Questions}}}
{{{fieldClass就是Question}}}
{{{hasPath就是true/flase}}}
{{{argumentString 就是 view uid}}}
{{{paramString view uid = userInfo.getUid}}}
{{{paginateSize 就是page size}}}

@action
set{{{functionName}}}(...items) {
const self = this;
if(items !== undefined && _.isArray(items)) {
this.{{{fieldName}}}.length = 0;
this.{{{fieldName}}}.push(...items.map((each) => each instanceof {{{fieldClass}}} ? each : new {{{fieldClass}}}({...each,parentNode:self})));
} else {
this.{{{fieldName}}}.length = 0;
}
}

get{{{functionName}}}() {
return this.{{{fieldName}}};
}

@action
clean{{{functionName}}}(){
this.{{{fieldName}}}.length = 0;
}

@action
push{{{functionName}}}(...items) {
const self = this;
this.{{{fieldName}}}.push(...items.map((each) => each instanceof {{{fieldClass}}} ? each : new {{{fieldClass}}}({...each,parentNode:self})));
}

@action
push{{{functionName}}}ByIndex(index, ...params) {
const self = this;
Util.insertToArray(this.{{{fieldName}}},index, ...params.map((each) => each instanceof {{{fieldClass}}} ? each : new {{{fieldClass}}}({...each,parentNode:self})));
}

push{{{fieldClass}}} = (item = {}) => {
this.push{{{functionName}}}(item);
}

@action
remove{{{functionName}}}ByIndex(...indexes) {
for (const index of indexes) {
if (index < -1 && this.{{{fieldName}}}.length < index) {
Util.appendError(`7821, index ${index} is not valid length ==>`, this.{{{fieldName}}}.length, `index ==>`, index);
return;
}
}
_.pullAt(this.{{{fieldName}}}, indexes);
}

@action
remove{{{functionName}}}(...items) {
const indexes = [];
for (const item of items) {
indexes.push(_.indexOf(this.{{{fieldName}}}, item));
}
this.remove{{{functionName}}}ByIndex(...indexes);
}

{{#hasPath}}
    {{{這裡就是放if的邏輯}}}
    submit{{{functionName}}} = async (view,...objs) => {
    const items = [];
    for (const obj of objs) {
    const item = await new {{{fieldClass}}}(obj).submit{{{fieldClass}}}Item(view);
    items.push(item.value);
    }
    this.push{{{functionName}}}(...items)
    }

    update{{{functionName}}} = async (view) => {
    await new {{{fieldClass}}}().submit{{{functionName}}}(view,
    ...this.get{{{functionName}}}().map((each) => each.rawData()))
    }

    submit{{{fieldClass}}} = async (view, obj = {}) => {
    return await this.submit{{{functionName}}}(view, obj);
    }
{{/hasPath}}
{{^hasPath}}
    {{{這裡就是放else的邏輯}}}
{{/hasPath}}

{{#hasPaginate}}
    next{{{fieldClass}}}PageMode = 'paging';//['in-array','paging']

    {{{name}}}NextIds = [];

    pushNext{{{fieldClass}}}IDs= (...ids)=> {
    this.{{{name}}}NextIds.push(...ids);
    this.next{{{fieldClass}}}PageMode = 'in-array';
    }

    clean{{{fieldClass}}}NextIds() {
    this.{{{name}}}NextIds.length = 0
    }

    getNext{{{fieldClass}}}IDs =() => {
    return this.{{{name}}}NextIds;
    }

    getNext{{{fieldClass}}}PageMode =() => {
    return this.next{{{fieldClass}}}PageMode;
    }

    setNext{{{fieldClass}}}PageMode = (mode) => {
    this.next{{{fieldClass}}}PageMode =  mode;
    }

    fetch{{{functionName}}} = async ({{{paramString}}}) => {
    const self = this;
    const items = [];
    switch (self.getNext{{{fieldClass}}}PageMode()) {
    case "in-array":
    const itemsOfNextIds = await self.fetch{{{fieldClass}}}ByNextIds({{{argumentString}}});
    items.push(...itemsOfNextIds);
    break;
    case "paging":
    const itemsOfNextPage = await self.fetch{{{fieldClass}}}NextPageItems({{{argumentString}}});
    items.push(...itemsOfNextPage);
    break;
    default:
    const queryItems = await new {{{fieldClass}}}().fetch(
    {{{argumentString}}},
    ...this.get{{{fieldClass}}}Conditions()
    )
    items.push(...queryItems)
    break;
    }

    this.push{{{functionName}}}(...items);
    return items;
    };

    fetch{{{fieldClass}}}NextPageItems = async ({{{paramString}}}) => {
    const conditions = this.getStartAfterConditions(_.last(this.get{{{functionName}}}()));
    const items = await new {{{fieldClass}}}().fetch(
    {{{argumentString}}},
    ...this.get{{{fieldClass}}}Conditions(),
    ...conditions
    );
    return items;
    }

    fetch{{{fieldClass}}}ByNextIds = async ({{{paramString}}}) => {
    const self = this;
    const targets = _.remove(self.getNext{{{fieldClass}}}IDs(), (each, index) => {
    return index < {{{paginateSize}}};
    })
    if (!_.isEmpty(targets)) {
    return await new {{{fieldClass}}}().fetch(
    {{{argumentString}}},
    ...this.getInArrayConditions(targets),
    ...this.get{{{fieldClass}}}Conditions()
    );
    }
    return [];
    }

{{/hasPaginate}}
{{^hasPaginate}}
    {{{這裡就是放else的邏輯}}}
    {{#hasPath}}
        fetch{{{functionName}}} = async ({{{paramString}}}) => {
        return await new {{{fieldClass}}}().fetch(
        {{{argumentString}}},
        ...this.get{{{fieldClass}}}Conditions()
        )
        }
    {{/hasPath}}
{{/hasPaginate}}
