{{{name就是question}}}
{{{fieldName就是questions}}}
{{{functionName就是Questions}}}
{{{fieldClass就是Question}}}
{{{hasPath就是true/flase}}}
@action
set{{{functionName}}}(param) {
    if(param !== undefined) {
        param = param instanceof {{{fieldClass}}} ? param.data() : param
        this.{{{fieldName}}}.initial({...param,parentNode:this});
    } else {
        this.{{{fieldName}}}.clean();
    }
}

@action
remove{{functionName}}() {
    this.{{{fieldName}}}.clean();
}

get{{{functionName}}}() {
    return this.{{{fieldName}}};
}


