{{{name就是question}}}
{{{fieldName就是questions}}}
{{{functionName就是Questions}}}
{{{fieldClass就是Question}}}
{{{hasPath就是true/flase}}}
get{{functionName}}(force = false) {
return this.normalizeTimestamp(this.{{fieldName}}, force);
}

@action
remove{{functionName}}() {
this.{{fieldName}} = {{{defaultValue}}};
this.setValueOf{{{fieldClass}}}(-1);
}

@action
set{{functionName}}(param) {
if(param !== undefined) {
{{#isTimePickerView}}
    {{{這裡就是放if暨isTimePickerView的邏輯}}}
    this.{{fieldName}} = this.normalizeAsDayjs(param);
{{/isTimePickerView}}
{{^isTimePickerView}}
    {{{這裡就是放else暨不等於isTimePickerView的邏輯}}}
    this.{{fieldName}} = param;
{{/isTimePickerView}}
    this.setValueOf{{{fieldClass}}}(this.get{{functionName}}(true))
} else {
this.{{fieldName}} = {{{defaultValue}}};
}
}

