{{{name就是qustions}}}
{{{fieldName就是qustions}}}
{{{functionName就是Questions}}}
{{{fieldClass就是Question}}}
@action
set{{{functionName}}}(param) {
    if(param !== undefined) {
        param = param instanceof {{{fieldClass}}} ? param.data() : param
        this.{{{fieldName}}}.initial({...param,parentNode:this});
    } else {
        this.{{{fieldName}}}.clear();
    }
}

@action
remove{{functionName}}() {
    this.{{{fieldName}}}.clear();
}

get{{{functionName}}}() {
    return this.{{{fieldName}}};
}


