{{{name就是question}}}
{{{fieldName就是questions}}}
{{{functionName就是Questions}}}
{{{fieldClass就是Question}}}
{{{hasPath就是true/flase}}}
{{{paginateSize 就是page size}}}
{{{isSelected就是true/flase}}}

{{{argumentString 就是 view uid}}}
{{{paramString view uid = userInfo.getUid}}}
{{{stringOfParamInFetch view uid = userInfo.getUid}}}
{{{stringOfArgumentInFetch 就是 view uid}}}
{{{stringOfParamInSubmitItems view uid = userInfo.getUid}}}
{{{stringOfArgumentInSubmitItems view uid}}}
{{{stringOfParamInSubmitItem view uid = userInfo.getUid}}}
{{{stringOfArgumentInSubmitItem view uid}}}


@action
set{{{functionName}}}(...items) {
const self = this;
if(_.isArray(items)) {
this.{{{fieldName}}}.length = 0;
this.{{{fieldName}}}.push(...items.map((each) => each instanceof {{{fieldClass}}} ? each : new {{{fieldClass}}}({...each,parentNode:self})));
} else {
this.{{{fieldName}}}.length = 0;
}
}

get{{{functionName}}}() {
return this.{{{fieldName}}};
}

{{#isSelected}}
    {{{這裡就是放if暨isSelected的邏輯}}}
{{/isSelected}}
{{^isSelected}}
    {{{這裡就是放else暨不等於isSelected的邏輯}}}

    get{{{fieldClass}}}ByAttribute = (value, attribute = 'id') => {
    return _.find(this.get{{{functionName}}}(), ({{{name}}}) => _.isEqual(value, {{{name}}}[attribute]));
    }

    get{{{fieldClass}}}ByAttributes = (values = ['id', '20241213'], attributes = ['id', 'updateTime']) => {
    return _.find(this.get{{{functionName}}}(), ({{{name}}}) =>
    Util.isAndEquals(...attributes.map((attr,idx) => _.isEqual({{{name}}}[attr], values[idx]))))
    }

    get{{{functionName}}}ByAttribute(value, attribute = 'id'){
    return _.filter(this.get{{{functionName}}}(), ({{{name}}}) => _.isEqual(value, {{{name}}}[attribute]));
    }

    get{{{functionName}}}ByAttributes = (values = ['id', '20241213'], attributes = ['id', 'updateTime']) => {
    return _.filter(this.get{{{functionName}}}(), ({{{name}}}) =>
    Util.isAndEquals(...attributes.map((attr,idx) => _.isEqual({{{name}}}[attr], values[idx]))))
    }

    get{{{fieldClass}}}OfHead = () => {
    return _.head(this.get{{{functionName}}}());
    }

    get{{{fieldClass}}}OfLast = () => {
    return _.last(this.get{{{functionName}}}());
    }

    getLengthOf{{{fieldClass}}} = () => {
    return _.size(this.get{{{functionName}}}());
    }

    @action
    clean{{{functionName}}}(){
    this.{{{fieldName}}}.length = 0;
    }

    @action
    push{{{functionName}}}(...items) {
    const self = this;
    const itemsOfSorted = self.ruleOfPreviouslySort(items);
    this.{{{fieldName}}}.push(...itemsOfSorted.map((each) => each instanceof {{{fieldClass}}} ? each : new {{{fieldClass}}}({...each,parentNode:self})));
    self.invalidate();
    }

    @action
    push{{{functionName}}}ByIndex(index, ...params) {
    const self = this;
    const itemsOfSorted = self.ruleOfPreviouslySort(params);
    Util.insertToArray(this.{{{fieldName}}},index, ...itemsOfSorted.map((each) => each instanceof {{{fieldClass}}} ? each : new {{{fieldClass}}}({...each,parentNode:self})));
    self.invalidate();
    }

    @action
    updateSpecific{{{functionName}}}(latest, attr = 'id') {
        const {{{name}}} = _.find(this.get{{{functionName}}}(), ({{{name}}}) => _.isEqual({{{name}}}[attr], latest[attr]));
        messageX ? {{{name}}}.initial(latest) : this.push{{{functionName}}}ByIndex(-1, latest)
    }

    push{{{fieldClass}}} = (item = {}) => {
    this.push{{{functionName}}}(item);
    }

    @action
    remove{{{functionName}}}ByIndex(...indexes) {
    for (const index of indexes) {
    if (index < -1 && this.{{{fieldName}}}.length < index) {
    Util.appendError(`7821, index ${index} is not valid length ==>`, this.{{{fieldName}}}.length, `index ==>`, index);
    return;
    }
    }
    _.pullAt(this.{{{fieldName}}}, indexes);
    }

    @action
    remove{{{functionName}}}(...fatefulItems) {
    const indexes = [];
    for (const item of fatefulItems) {
    indexes.push(_.indexOf(this.{{{fieldName}}}, item));
    }
    this.remove{{{functionName}}}ByIndex(...indexes);
    }
{{/isSelected}}

{{#hasPath}}
    {{{這裡就是放if暨hasPath的邏輯}}}

    {{#isCheapArray}}
        {{{這裡就是放if暨isCheapArray的邏輯}}}

        /** this is method of cheap array */
        submit{{{functionName}}} = async ({{{stringOfParamInSubmitItems}}}) => {
        const api = new {{{fieldClass}}};
        const origin = await api.fetch{{{functionName}}}({{{stringOfArgumentInFetch}}});
        const latest = origin.push(...items);
        await api.submit{{{functionName}}}(view, latest, id, {{{argumentString}}})
        this.push{{{functionName}}}(...items)
        }

        /** this is method of cheap array */
        update{{{functionName}}} = async (view, id = 'contents',{{{paramString}}}) => {
        const latest = this.get{{{functionName}}}().map((each) => each.columnData())
        await new {{{fieldClass}}}().submit{{{functionName}}}(view,latest, id, {{{argumentString}}})
        }

    {{/isCheapArray}}
    {{^isCheapArray}}
        {{{這裡就是放else暨不等於isCheapArray的邏輯}}}
        /** 這function主要是為了editor設計 */
        submit{{{functionName}}} = async ({{{stringOfParamInSubmitItems}}}) => {
        const fatefulItems = [];
        items = _.isArray(items) ? items : [items];
        for (const item of items) {
        const id = '';
        const result = await new {{{fieldClass}}}().submit{{{fieldClass}}}Item({{{stringOfArgumentInSubmitItem}}});
        fatefulItems.push(result.value);
        }
        this.push{{{functionName}}}(...fatefulItems)
        }

        update{{{functionName}}} = async (view,{{{paramString}}}) => {
        const items = this.get{{{functionName}}}().map((each) => each.columnData());
        await new {{{fieldClass}}}().submit{{{functionName}}}({{{stringOfArgumentInSubmitItems}}})
        }

    {{/isCheapArray}}

{{/hasPath}}
{{^hasPath}}
    {{{這裡就是放else暨不等於hasPath的邏輯}}}
{{/hasPath}}

{{#hasPaginate}}
    next{{{fieldClass}}}PageMode = 'paging';//['in-array','paging']

    {{{name}}}NextIds = [];

    lastItemOf{{{fieldClass}}} = undefined;

    pushNext{{{fieldClass}}}IDs= (...ids)=> {
    this.{{{name}}}NextIds.push(...ids);
    this.next{{{fieldClass}}}PageMode = 'in-array';
    }

    clean{{{fieldClass}}}NextIds() {
    this.{{{name}}}NextIds.length = 0
    }

    getNext{{{fieldClass}}}IDs =() => {
    return this.{{{name}}}NextIds;
    }

    getNext{{{fieldClass}}}PageMode =() => {
    return this.next{{{fieldClass}}}PageMode;
    }

    setNext{{{fieldClass}}}PageMode = (mode) => {
    this.next{{{fieldClass}}}PageMode =  mode;
    }

    fetch{{{functionName}}} = async ({{{stringOfParamInFetch}}}) => {
    const self = this;
    const fatefulItems = [];
    switch (self.getNext{{{fieldClass}}}PageMode()) {
    case "in-array":
    const itemsOfNextIds = await self.fetch{{{fieldClass}}}ByNextIds({{{stringOfArgumentInFetch}}});
    fatefulItems.push(...itemsOfNextIds);
    break;
    case "paging":
    const itemsOfNextPage = await self.fetch{{{fieldClass}}}NextPageItems({{{stringOfArgumentInFetch}}});
    this.lastItemOf{{{fieldClass}}} = _.last(itemsOfNextPage);
    fatefulItems.push(...itemsOfNextPage);
    break;
    default:
    const queryItems = await new {{{fieldClass}}}().fetch(
    {{{stringOfArgumentInFetch}}},
    ...this.get{{{fieldClass}}}Conditions()
    )
    fatefulItems.push(...queryItems)
    break;
    }

    if(_.size(fatefulItems) < {{{fieldClass}}}.sizeOfPerPage) {
    this.setHasNextPageBehavior(false);
    }

    this.push{{{functionName}}}(...fatefulItems);
    return fatefulItems;
    };

    fetch{{{fieldClass}}}NextPageItems = async ({{{stringOfParamInFetch}}}) => {
    const conditionsOfNext = this.getStartAfterConditions(this.lastItemOf{{{fieldClass}}});
    const fatefulItems = await new {{{fieldClass}}}().fetch(
    {{{stringOfArgumentInFetch}}},
    ...this.get{{{fieldClass}}}Conditions(),
    ...conditionsOfNext
    );
    return fatefulItems;
    }

    fetch{{{fieldClass}}}ByNextIds = async ({{{stringOfParamInFetch}}}) => {
    const self = this;
    const targets = _.remove(self.getNext{{{fieldClass}}}IDs(), (each, index) => {
    return index < {{{fieldClass}}}.sizeOfPerPage;
    })
    if (!_.isEmpty(targets)) {
    return await new {{{fieldClass}}}().fetch(
    {{{stringOfArgumentInFetch}}},
    ...this.getInArrayConditions(targets),
    ...this.get{{{fieldClass}}}Conditions()
    );
    }
    return [];
    }

{{/hasPaginate}}
{{^hasPaginate}}
    {{{這裡就是放else的邏輯}}}
    {{#hasPath}}
        fetch{{{functionName}}} = async ({{{stringOfParamInFetch}}}) => {
        return await new {{{fieldClass}}}().fetch(
        {{{stringOfArgumentInFetch}}},
        ...this.get{{{fieldClass}}}Conditions()
        )
        }
    {{/hasPath}}
{{/hasPaginate}}
