{{{name就是question}}}
{{{fieldName就是questions}}}
{{{functionName就是Questions}}}
{{{fieldClass就是Question}}}
{{{hasPath就是true/flase}}}


get{{{functionName}}}() {
return this.{{{fieldName}}};
}

@action
push{{{functionName}}}(...array){
this.{{{fieldName}}}.push(...array);
}

@action
set{{{functionName}}}(...array) {
this.{{{fieldName}}}.length = 0;
this.{{{fieldName}}}.push(...array);
}


