rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {

    function isSignIn(){
        return  request.auth != null;
    }

    function alwaysTrue() {
        return true;
    }

    function isAdmin() {
        return request.auth.uid == "{{{superUserUid}}}";
    }

    function sizeLowerThan5MB() {
        return request.resource.size < 5 * 1024 * 1024;
    }

    function sizeLowerThan20MB() {
        return request.resource.size < 20 * 1024 * 1024;
    }

    function sizeLowerThan2MB() {
        return request.resource.size < 2 * 1024 * 1024;
    }


/** --- documents--- **/

    }
}
