rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        function isSelf(uid){
            return  request.auth.uid == uid;
        }

        function isAllowRead(){
            return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.allowRead == true;
        }

        function withoutCopyright(){
            return resource.data.copyright == false;
        }

        function isAuthor() {
            return  request.auth != null && resource.data.idOfAuthor == request.auth.uid;
        }

        function isDocumentUser() {
            return  request.auth != null && resource.data.idOfUser == request.auth.uid;
        }

        function isAuthorEitherUser() {
            return isAuthor() || isDocumentUser();
        }

        function isAdmin(){
            return  request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
        }

        function isSignIn() {
            return request.auth.uid != null;
        }

        function userInfoExist(){
            return request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid));
        }

        function alwaysTrue() {
            return true;
        }

        function alwaysFalse() {
            return false;
        }

        function isPublicDocument() {
            return resource.data.visibility == 'public';
        }

         function isMyDocument() {
            return resource.data.idOfUser == request.auth.uid;
        }

        /** --- documents--- **/

    }
}
