<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="/" />
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    {{#disableOfHtmlScale}}
        {{{這裡放disableOfHtmlScale為true的邏輯}}}
        <meta name="viewport" content="minimum-scale=0.5">
    {{/disableOfHtmlScale}}
    {{^disableOfHtmlScale}}
        {{{這裡放disableOfHtmlScale為false的邏輯}}}
        <meta name="viewport" content="width=device-width, initial-scale=1" >
    {{/disableOfHtmlScale}}
    {{#verification}}
      <meta name="google-site-verification" content="{{{verification}}}" />
    {{/verification}}
    <% if (process.env.self_debug) { %>
    <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>
    <script>
    const vConsole = new window.VConsole();
    </script>
  <% } %>
</head>
<body>
<div id="app"></div>
</body>
</html>
