rules_version = '2';
service firebase.storage {
    match /b/{bucket}/o {

    function isSignIn(){
        return  request.auth != null;
    }

    function alwaysTrue() {
        return true;
    }

    function alwaysFalse() {
       return false;
    }

   function isAuthorOfDionysus(id) {
      return request.auth != null && firestore.get(/databases/(default)/documents/dionysus/$(id)).data.idOfAuthor == request.auth.uid;
    }

    function isAuthorOfEPay(id) {
      return request.auth != null && firestore.get(/databases/(default)/documents/ordersOfEpay/$(id)).data.idOfAuthor == request.auth.uid;
    }

    function isAdmin() {
      return request.auth != null && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

match /public/{fileId} {
allow write: if isAdmin() && request.resource.size < 5242880
allow read: if alwaysTrue()
}

/** --- documents--- **/

    }
}
