{
  "name": "{{{projectName}}}",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",
  "main": "index.js",
  "scripts": {
    "start": "webpack serve --config ./webpack.config.js --mode development",
    "lint": "eslint --ext .js,.jsx,.ts,.tsx --ignore-pattern node_modules .",
    "build": "webpack --config ./webpack.config.js --mode production",
    "test": "echo \"No test specified\" && exit 0",
    "updateUtiller": "npm update utiller --save",
    "updateConfigerer": "npm update configerer --save",
    "webpack": "webpack --mode development",
    "emulate": "npm run lint ; npm run start"
  },
  "sideEffects": true,
  "keywords": [],
  "author": "davidtu<freshingmoon0725@gmail.com>",
  "license": "ISC",
  "devDependencies": {
    "@babel/core": "^7.28.5",
    "@babel/eslint-parser": "^7.28.5",
    "@babel/plugin-proposal-decorators": "^7.28.0",
    "@babel/plugin-transform-class-properties": "^7.27.1",
    "@babel/plugin-transform-runtime": "^7.28.5",
    "@babel/preset-env": "^7.28.5",
    "@babel/preset-react": "^7.28.5",
    "@babel/register": "^7.25.9",
    "babel-loader": "^10.0.0",
    "buffer": "^6.0.3",
    "compression-webpack-plugin": "^11.1.0",
    "css-loader": "^7.1.1",
    "eslint": "^9.39.1",
    "eslint-plugin-import": "^2.32.0",
    "html-webpack-plugin": "^5.6.0",
    "less": "^4.3.0",
    "mini-css-extract-plugin": "^2.9.2",
    "path-browserify": "^1.0.1",
    "string-replace-loader": "^3.2.0",
    "style-loader": "^3.3.4",
    "terser-webpack-plugin": "^5.3.10",
    "typescript-eslint": "^8.48.0",
    "webpack": "^5.95.0",
    "webpack-bundle-analyzer": "^4.10.1",
    "webpack-cli": "^5.1.4",
    "webpack-dev-server": "^5.1.0",
    "webpack-node-externals": "^3.0.0"
  },
  "dependencies": {
    "@babel/runtime": "^7.28.4",
    "@emotion/react": "^11.14.0",
    "@emotion/styled": "^11.14.0",
    "@fontsource/roboto": "^5.0.12",
    "@mui/icons-material": "^7.2.0",
    "@mui/material": "^7.2.0",
    "@mui/x-date-pickers": "^8.9.0",
    "@mui/x-date-pickers-pro": "^8.9.0",
    "buffer": "^6.0.3",
    "framer-motion": "^12.10.0",
    "configerer": "^1.0.25",
    "copy-to-clipboard": "^3.3.3",
    "firebase": "^10.12.3",
    "@fingerprintjs/fingerprintjs": "^4.6.2",
    "fuse.js": "^7.1.0",
    "html-to-react": "^1.4.8",
    "js-event-bus": "^1.1.0",
    "lodash": "^4.17.21",
    "mobx": "^6.15.0",
    "mobx-react": "^9.2.1",
    "dayjs": "^1.11.19",
    "path-browserify": "^1.0.1",
    "prop-types": "^15.7.2",
    "query-string": "^7.0.1",
    "react": "^19.2.3",
    "react-dom": "^19.2.3",
    "react-qr-code": "^2.0.18",
    "react-countdown": "^2.3.5",
    "react-device-detect": "^2.2.3",
    "react-h5-audio-player": "^3.8.4",
    "react-router-dom": "^7.10.1",
    "swiper": "^12.0.3",
    "universal-cookie": "^7.2.2",
    "utiller": "^1.0.486",
    "watermarkjs": "^2.1.1"
  }
}