@desktop: ~'only screen and (min-width: 601px)';
@tablet: ~'only screen and (min-width: 320px) and (max-width: 600px)';
@mobile: ~'only screen and (min-width: 320px) and (max-width: 600px)';
.NavigatorDiv {
    flex-grow: 1;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarToolbar {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarAppBarWrap {
    background-color: black !important;
    height: 60px;
    display: flex;
    justify-content: center;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarMenuIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarMenuIconMenuRounded {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarTitleTypography {
    font-size: 1.3rem;
    @media @mobile {
        font-size: 1rem;
    }
    @media @tablet {
        font-size: 1rem;
    }
    @media @desktop {
        font-size: 1.2rem;
    }
}
.NavigatorToolBarTitleDivWrap:extend(.CenterInParentColumn) {
    padding-right: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarCompleteAutocomplete {
    flex-grow: 1;
    margin-right: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarCompleteInputOfCompleteTextField {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    @media @mobile {
        width: 95%;
    }
    @media @tablet {
        width: 95%;
    }
    @media @desktop {
        width: 70%;
        max-width: 500px;
    }
}
.NavigatorToolBarCompleteInputOfCompleteFormWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarCartieIconButton:extend(.NavigatorToolBarAccountIconButton) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarCartieBadgeOfCartieBadge {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarCartieBadgeOfCartieIconShoppingCart:extend(.NavigatorToolBarAccountIconAccountCircle) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarLoginIconButton:extend(.NavigatorToolBarAccountIconButton) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarLoginIconLogin:extend(.NavigatorToolBarAccountIconAccountCircle) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarAccountIconButton {
    height: 32px;
    width: 32px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarAccountReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarAccountIconAccountCircle {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorToolBarTipOfLoadingCircularProgress {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorDrawerDrawer {
    margin-top: 60px !important;
    @media @mobile {
        width: 100%;
    }
    @media @tablet {
        width: 100%;
    }
    @media @desktop {
        width: 350px;
    }
}
.NavigatorDrawerShortcutListItem {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorDrawerShortcutListList {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorDrawerShortcutListItemSkeleton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorDrawerShortcutTitleTypography {
    font-size: 3rem;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.NavigatorDrawerShortcutIconImg {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
