/** => following for purchaseSucceed component used <= */
.PurchaseSucceedDiv {
  /** style */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PurchaseSucceedSucceedTitleTypography {
  /** style */
  font-size: 1.8rem;
}
.PurchaseSucceedConfirmButton {
  /** style */
  font-size: 1.2rem;
  margin-top: 30px;
}
/** => following for login component used <= */
.LoginDiv {
  /** style */
  width: 100vw;
  height: 20%;
}
.LoginDivWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}
/** => following for navigator component used <= */
.NavigatorDiv {
  /** style */
  flex-grow: 1;
}
.NavigatorAppBarAppBar {
  /** style */
  background-color: #7f7f7f;
}
.NavigatorAppBarToolBarToolbar {
  /** style */
}
.NavigatorAppBarToolBarMenuIconButton {
  /** style */
  margin-right: 10px;
}
.NavigatorAppBarToolBarMenuIconMenuIcon {
  /** style */
}
.NavigatorAppBarToolBarTitleTypography {
  /** style */
  flex-grow: 1;
}
.NavigatorAppBarToolBarLoginButton {
  /** style */
}
.NavigatorExtraDrawer {
  /** style */
}
.NavigatorExtraContentDiv {
  /** style */
}
/** => following for main component used <= */
.MainDiv {
  /** style */
}
.MainJuniorButton,
.MainHighButton,
.MainSocialButton,
.MainPurchaseButton {
  /** style */
  margin: 5px;
  min-height: 10vw;
  min-width: 20vh;
  font-size: 2.2em;
  color: #0074d9;
  border-color: #0074d9;
}
.MainHighButton {
  /** style */
}
.MainSocialButton {
  /** style */
}
.MainPurchaseButton {
  /** style */
}
/** => following for exam component used <= */
.ExamDiv {
  /** style */
  background-color: #888888;
}
.ExamHeadDiv {
  /** style */
}
.ExamQuestionCard {
  /** style */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
  padding: 1vw;
}
.ExamQuestionAlertOuterDiv {
  /** style */
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}
.ExamQuestionCardWrapDiv {
  /** style */
  position: relative;
}
.ExamQuestionCardListWrapDiv {
  /** style */
}
.ExamQuestionAlertImageImg {
  /** style */
  opacity: 0.3;
  height: 70%;
}
.ExamQuestionAlertImageImgWrapDiv {
  /** style */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ExamQuestionTopicTypography {
  /** style */
  font-weight: bold;
  font-size: 2.8rem;
}
.ExamQuestionTopicTypographyWrapDiv {
  /** style */
}
.ExamQuestionChoiceDiv {
  /** style */
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.ExamQuestionChoiceDivListWrapDiv {
  /** style */
}
.ExamQuestionChoiceStatementButton {
  /** style */
  text-align: left;
  font-size: 2.1rem;
}
.ExamQuestionChoiceStatementButtonWrapDiv {
  /** style */
  margin-bottom: 1vh;
}
.ExamQuestionTipTypography {
  /** style */
}
.ExamQuestionTipTypographyWrapDiv {
  /** style */
}
.ExamFunctionAreaDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  /** style */
}
.ExamFunctionAreaEndButton {
  /** style */
  width: 27vw;
  height: 10vw;
  font-size: 2rem;
}
.ExamFunctionAreaSpaceDiv {
  /** style */
  width: 3vh;
}
.ExamFunctionAreaRestartButton {
  /** style */
  width: 27vw;
  height: 10vw;
  font-size: 2rem;
  outline-width: 5px;
}
.ExamTailDiv {
  /** style */
  height: 1vh;
}
/** => following for result component used <= */
.ResultCard {
  /** style */
}
.ResultScoreTypography {
  /** style */
}
.ResultMessageTypography {
  /** style */
}
/** => following for purchase component used <= */
.PurchaseDiv {
  /** style */
  display: flex;
  width: 99%;
  flex-direction: column;
  justify-content: center;
}
.PurchaseBannerImg {
  /** style */
  width: 90vw;
}
.PurchaseBannerImgWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  margin: 10px;
}
.PurchasePurchasePlanDiv {
  /** style */
  display: flex;
  width: 90vw;
  flex-direction: column;
}
.PurchasePurchasePlanDivListWrapDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 10px;
}
.PurchasePurchasePlanNameTypography,
.PurchasePurchasePlanPriceTypography {
  /** style */
  font-size: 1.4rem;
}
.PurchasePurchasePlanNameTypographyWrapDiv,
.PurchasePurchasePlanPriceTypographyWrapDiv,
.PurchasePurchasePlanBuyButtonWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 6vh;
  align-items: center;
}
.PurchasePurchasePlanSpaceDiv {
  /** style */
  height: 1px;
  background-color: #111111;
}
.PurchasePurchasePlanPriceTypography {
  /** style */
}
.PurchasePurchasePlanPriceTypographyWrapDiv {
  /** style */
  flex-direction: column;
}
.PurchasePurchasePlanPricePriceTipTypography {
  /** style */
}
.PurchasePurchasePlanBuyButton {
  /** style */
  font-size: 1rem;
}
.PurchasePurchasePlanBuyButtonWrapDiv {
  /** style */
  border-style: none;
}
/** ======== following for  ========= */
.BaseComponentErrorViewPaper {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 30px;
}
.BaseComponentGlobalLoadingRootDiv {
  position: absolute;
  width: 100vw;
  height: 95vh;
}
.BaseComponentGlobalLoadingDiv {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}
.BaseComponentGlobalLoadingTypography {
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.2rem;
}
.BaseComponentErrorViewTitleTypography {
  font-size: 3rem;
}
.BaseComponentErrorViewContentTypography {
  font-size: 1.2rem;
  color: #7f7f7f;
}
.BaseComponentErrorViewRetryButton {
  margin-top: 30px;
}
.ComponentViewDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.RootViewDiv {
  position: relative;
}
.ErrorViewDiv {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  pointer-events: none;
}
body {
  margin: 0;
}
.firebaseui-id-idp-button,
.firebaseui-idp-button,
.mdl-button,
.mdl-js-button,
.mdl-button--raised,
.firebaseui-idp-google {
  max-width: unset !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 6rem;
}
.firebaseui-container {
  max-width: 90% !important;
}
.firebaseui-idp-text-short,
.firebaseui-idp-text,
.firebaseui-idp-text-long {
  font-size: 2.3rem !important;
  font-family: var(--sec-font);
}
.firebaseui-idp-icon {
  height: 3vmin !important;
  width: 3vmin !important;
}
.firebaseui-tospp-full-message,
.firebaseui-tos {
  font-size: 2.3rem !important;
}
/*# sourceMappingURL=common.css.map */