/** => following for login component used <= */
.LoginDiv {
  /** style */
  width: 100vw;
  height: 20%;
}
.LoginDivWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}
/** => following for navigator component used <= */
.NavigatorDiv {
  /** style */
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 0.5%;
  max-height: 6vh;
}
.NavigatorHomeAreaAvatar {
  /** style */
  width: 4vh;
  height: 4vh;
}
.NavigatorHomeAreaHomeImg {
  /** style */
}
.NavigatorFunctionDiv {
  /** style */
  flex: 1;
}
.NavigatorLoginButton {
  /** style */
  height: 4.5vh;
  min-width: 12vw;
  font-size: 2.5rem;
}
.NavigatorLoginButtonWrapDiv {
  /** style */
  margin: 0.5%;
}
/** => following for main component used <= */
.MainDiv {
  /** style */
}
.MainJuniorButton,
.MainHighButton,
.MainSocialButton,
.MainPurchaseButton {
  /** style */
  margin: 5px;
  min-height: 10vw;
  min-width: 20vh;
  font-size: 2.2em;
  color: #0074d9;
  border-color: #0074d9;
}
.MainHighButton {
  /** style */
}
.MainSocialButton {
  /** style */
}
.MainPurchaseButton {
  /** style */
}
/** => following for exam component used <= */
.ExamDiv {
  /** style */
  background-color: #888888;
}
.ExamHeadDiv {
  /** style */
}
.ExamQuestionCard {
  /** style */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
  padding: 1vw;
}
.ExamQuestionAlertOuterDiv {
  /** style */
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}
.ExamQuestionCardWrapDiv {
  /** style */
  position: relative;
}
.ExamQuestionCardListWrapDiv {
  /** style */
}
.ExamQuestionAlertImageImg {
  /** style */
  opacity: 0.3;
  height: 70%;
}
.ExamQuestionAlertImageImgWrapDiv {
  /** style */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ExamQuestionTopicTypography {
  /** style */
  font-weight: bold;
  font-size: 2.8rem;
}
.ExamQuestionTopicTypographyWrapDiv {
  /** style */
}
.ExamQuestionChoiceDiv {
  /** style */
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.ExamQuestionChoiceDivListWrapDiv {
  /** style */
}
.ExamQuestionChoiceStatementButton {
  /** style */
  text-align: left;
  font-size: 2.1rem;
}
.ExamQuestionChoiceStatementButtonWrapDiv {
  /** style */
  margin-bottom: 1vh;
}
.ExamQuestionTipTypography {
  /** style */
}
.ExamQuestionTipTypographyWrapDiv {
  /** style */
}
.ExamFunctionAreaDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  /** style */
}
.ExamFunctionAreaEndButton {
  /** style */
  width: 27vw;
  height: 10vw;
  font-size: 2rem;
}
.ExamFunctionAreaSpaceDiv {
  /** style */
  width: 3vh;
}
.ExamFunctionAreaRestartButton {
  /** style */
  width: 27vw;
  height: 10vw;
  font-size: 2rem;
  outline-width: 5px;
}
.ExamTailDiv {
  /** style */
  height: 1vh;
}
/** => following for result component used <= */
.ResultCard {
  /** style */
}
.ResultScoreTypography {
  /** style */
}
.ResultMessageTypography {
  /** style */
}
/** => following for purchase component used <= */
.PurchaseDiv {
  /** style */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.PurchaseBannerImg {
  /** style */
  width: 90vw;
}
.PurchaseBannerImgWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  margin: 10px;
}
.PurchasePlanDiv {
  /** style */
  display: flex;
  width: 90vw;
  flex-direction: column;
}
.PurchasePlanDivListWrapDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 10px;
}
.PurchasePlanNameTypography,
.PurchasePlanPriceTypography {
  /** style */
  font-size: 1.4rem;
}
.PurchasePlanNameTypographyWrapDiv,
.PurchasePlanPriceTypographyWrapDiv,
.PurchasePlanMathTypographyWrapDiv,
.PurchasePlanMusicTypographyWrapDiv,
.PurchasePlanSweetTypographyWrapDiv,
.PurchasePlanBuyButtonWrapDiv {
  /** style */
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 6vh;
  align-items: center;
}
.PurchasePlanSpaceDiv {
  /** style */
  height: 1px;
  background-color: #111111;
}
.PurchasePlanPriceTypography {
  /** style */
}
.PurchasePlanPriceTypographyWrapDiv {
  /** style */
  flex-direction: column;
}
.PurchasePlanPricePriceTipTypography {
  /** style */
}
.PurchasePlanMathTypography {
  /** style */
  font-size: 1.2rem;
}
.PurchasePlanMathTypographyWrapDiv {
  /** style */
}
.PurchasePlanMusicTypography {
  /** style */
  font-size: 1.2rem;
}
.PurchasePlanMusicTypographyWrapDiv {
  /** style */
}
.PurchasePlanSweetTypography {
  /** style */
  font-size: 1.2rem;
}
.PurchasePlanSweetTypographyWrapDiv {
  /** style */
}
.PurchasePlanBuyButton {
  /** style */
  font-size: 1rem;
}
.PurchasePlanBuyButtonWrapDiv {
  /** style */
  border-style: none;
}
/** ======== following for  ========= */
body {
  margin: 0;
}
.firebaseui-id-idp-button,
.firebaseui-idp-button,
.mdl-button,
.mdl-js-button,
.mdl-button--raised,
.firebaseui-idp-google {
  max-width: unset !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 6rem;
}
.firebaseui-container {
  max-width: 90% !important;
}
.firebaseui-idp-text-short,
.firebaseui-idp-text,
.firebaseui-idp-text-long {
  font-size: 2.3rem !important;
  font-family: var(--sec-font);
}
.firebaseui-idp-icon {
  height: 3vmin !important;
  width: 3vmin !important;
}
.firebaseui-tospp-full-message,
.firebaseui-tos {
  font-size: 2.3rem !important;
}
/*# sourceMappingURL=common.css.map */