/** following for purchaseSucceed  component used  */
.PurchaseSucceedDiv {
  /** style */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.PurchaseSucceedSucceedTitleTypography {
  /** style */
  font-size: 1.8rem;
}
.PurchaseSucceedConfirmButton {
  /** style */
  font-size: 1.2rem;
  margin-top: 30px;
}
/** following for login  component used  */
.LoginDiv {
  /** style */
  width: 100vw;
  height: 20%;
}
.WrapLoginDiv {
  /** style */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}
/** following for navigator  component used  */
.NavigatorDiv {
  /** style */
  flex-grow: 1;
}
.NavigatorAppBarAppBar {
  /** style */
  background-color: #7f7f7f;
}
.NavigatorAppBarToolBarToolbar {
  /** style */
}
.NavigatorAppBarToolBarMenuIconButton {
  /** style */
  margin-right: 10px;
}
.NavigatorAppBarToolBarMenuIconMenuIcon {
  /** style */
}
.NavigatorAppBarToolBarTitleTypography {
  /** style */
  flex-grow: 1;
}
.NavigatorAppBarToolBarLoginButton {
  /** style */
}
.NavigatorDrawerDrawer {
  /** style */
}
.NavigatorDrawerShortcutListItem {
  /** style */
}
.NavigatorDrawerShortcutListItem {
  /** style */
}
.ListWrapNavigatorDrawerShortcutList {
  /** style */
}
.NavigatorDrawerShortcutTitleTypography {
  /** style */
}
.NavigatorDrawerShortcutIconImg {
  /** style */
}
/** following for main  component used  */
.MainDiv {
  /** style */
}
.MainJuniorButton,
.MainHighButton,
.MainSocialButton,
.MainPurchaseButton,
.MainUploadButton {
  /** style */
  margin: 5px;
  min-height: 10vw;
  min-width: 20vh;
  font-size: 2.2em;
  color: #0074d9;
  border-color: #0074d9;
}
.MainImageUrlImg {
  /** style */
  height: 50px;
  width: 50px;
}
/** following for exam  component used  */
.ExamDiv,
.ExamEditorDiv {
  /** style */
  margin: 3px;
}
.ExamQuestionCard,
.ExamEditorQuestionCard,
.ExamEditorQuestionCard {
  /** style */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
  padding: 1vw;
}
.WrapExamQuestionDiv,
.WrapExamEditorQuestionDiv,
.WrapExamEditorQuestionDiv {
  /** style */
  position: relative;
}
.ExamQuestionCard,
.ExamEditorQuestionCard,
.ExamEditorQuestionCard {
  /** style */
}
.WrapExamQuestionDiv,
.WrapExamEditorQuestionDiv,
.WrapExamEditorQuestionDiv {
  /** style */
}
.ListWrapExamQuestionDiv,
.ListWrapExamEditorQuestionDiv {
  /** style */
}
.ExamQuestionAlertOuterDiv,
.ExamEditorQuestionAlertOuterDiv {
  /** style */
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}
.ExamQuestionAlertAlertImageImg {
  /** style */
  opacity: 0.3;
  height: 70%;
}
.WrapExamQuestionAlertAlertImageDiv {
  /** style */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ExamQuestionTopicDiv,
.ExamEditorQuestionTopicDiv {
  /** style */
}
.ExamQuestionTopicNameTypography {
  /** style */
  font-size: 2.5rem;
}
.WrapExamQuestionTopicNameDiv,
.WrapExamEditorQuestionTopicNameDiv {
  /** style */
}
.ExamQuestionTopicImageDiv,
.ExamEditorQuestionTopicImageDiv,
.ExamEditorQuestionTopicImageDiv {
  /** style */
}
.ExamQuestionTopicImageDiv,
.ExamEditorQuestionTopicImageDiv,
.ExamEditorQuestionTopicImageDiv {
  /** style */
}
.ListWrapExamQuestionTopicImageDiv,
.ListWrapExamEditorQuestionTopicImageDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ExamQuestionTopicImageUrlImg,
.ExamEditorQuestionTopicImageUrlImg {
  /** style */
  width: 120px;
  height: 120px;
  margin: 3px;
}
.ExamQuestionChoiceDiv,
.ExamEditorQuestionChoiceDiv,
.ExamEditorQuestionChoiceDiv {
  /** style */
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.ExamQuestionChoiceDiv,
.ExamEditorQuestionChoiceDiv,
.ExamEditorQuestionChoiceDiv {
  /** style */
}
.ListWrapExamQuestionChoiceDiv,
.ListWrapExamEditorQuestionChoiceDiv {
  /** style */
}
.ExamQuestionChoiceStatementButton {
  /** style */
  text-align: left;
  font-size: 2.1rem;
}
.WrapExamQuestionChoiceStatementDiv,
.WrapExamEditorQuestionChoiceStatementDiv {
  /** style */
  margin-bottom: 1vh;
}
.ExamQuestionTipTypography {
  /** style */
}
.WrapExamQuestionTipDiv {
  /** style */
}
/** following for result  component used  */
.ResultCard {
  /** style */
}
.ResultScoreTypography {
  /** style */
}
.ResultMessageTypography {
  /** style */
}
/** following for purchase  component used  */
.PurchaseDiv {
  /** style */
  display: flex;
  width: 99%;
  flex-direction: column;
  justify-content: center;
}
.PurchaseBannerImg {
  /** style */
  width: 90vw;
}
.WrapPurchaseBannerDiv {
  /** style */
  display: flex;
  justify-content: center;
  margin: 10px;
}
.PurchasePurchasePlanDiv {
  /** style */
  display: flex;
  width: 90vw;
  flex-direction: column;
}
.PurchasePurchasePlanDiv {
  /** style */
}
.ListWrapPurchasePurchasePlanDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 10px;
}
.PurchasePurchasePlanNameTypography {
  /** style */
  font-size: 1.4rem;
}
.WrapPurchasePurchasePlanNameDiv,
.WrapPurchasePurchasePlanPriceDiv,
.WrapPurchasePurchasePlanBuyDiv {
  /** style */
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 6vh;
  align-items: center;
}
.PurchasePurchasePlanSpaceDiv {
  /** style */
  height: 1px;
  background-color: #111111;
}
.PurchasePurchasePlanPriceTypography {
  /** style */
}
.WrapPurchasePurchasePlanPriceDiv {
  /** style */
  flex-direction: column;
}
.PurchasePurchasePlanPricePriceTipTypography {
  /** style */
}
.PurchasePurchasePlanBuyButton {
  /** style */
  font-size: 1rem;
}
.WrapPurchasePurchasePlanBuyDiv {
  /** style */
  border-style: none;
}
/** following for exam editor component used  */
.ExamEditorDiv {
  /** style */
}
.ExamEditorQuestionCard {
  /** style */
}
.WrapExamEditorQuestionDiv {
  /** style */
}
.ExamEditorQuestionCard {
  /** style */
}
.WrapExamEditorQuestionDiv {
  /** style */
}
.ListWrapExamEditorQuestionDiv {
  /** style */
}
.ExamEditorQuestionAlertOuterDiv {
  /** style */
}
.ExamEditorQuestionTopicDiv {
  /** style */
}
.ExamEditorQuestionTopicNameTextField {
  /** style */
}
.WrapExamEditorQuestionTopicNameDiv {
  /** style */
}
.ExamEditorQuestionTopicImageDiv {
  /** style */
}
.WrapExamEditorQuestionTopicImageDiv {
  /** style */
}
.ExamEditorQuestionTopicImageDiv {
  /** style */
}
.WrapExamEditorQuestionTopicImageDiv {
  /** style */
}
.ListWrapExamEditorQuestionTopicImageDiv {
  /** style */
}
.ExamEditorQuestionTopicImageUrlImg {
  /** style */
}
.ExamEditorQuestionChoiceDiv {
  /** style */
}
.WrapExamEditorQuestionChoiceDiv {
  /** style */
}
.ExamEditorQuestionChoiceDiv {
  /** style */
}
.WrapExamEditorQuestionChoiceDiv {
  /** style */
}
.ListWrapExamEditorQuestionChoiceDiv {
  /** style */
}
.ExamEditorQuestionChoiceStatementTextField {
  /** style */
}
.WrapExamEditorQuestionChoiceStatementDiv {
  /** style */
}
.ExamEditorQuestionAnswerTextField {
  /** style */
}
.ExamEditorQuestionSubjectTextField {
  /** style */
}
.ExamEditorQuestionTypeTextField {
  /** style */
}
.ExamEditorQuestionYearTextField {
  /** style */
}
/** ======== following for homeless ========= */
.BaseShortcutMUIconView {
  color: white;
  font-size: 30px;
}
.BaseShortcutItemAvatarView {
  background-color: black;
}
.BaseShortcutItemTextView {
  color: white;
}
.BaseShortcutItemIconView {
  color: white;
}
.BaseShortcutNestedListView {
  padding-left: 20px;
}
.BaseComponentErrorViewPaper {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 30px;
}
.BaseComponentGlobalLoadingRootDiv {
  position: absolute;
  width: 100vw;
  height: 95vh;
}
.BaseEditorTextField,
.ExamEditorQuestionTopicNameTextField,
.ExamEditorQuestionChoiceStatementTextField,
.ExamEditorQuestionAnswerTextField,
.ExamEditorQuestionSubjectTextField,
.ExamEditorQuestionTypeTextField,
.ExamEditorQuestionYearTextField {
  margin: 5px;
}
.BaseEditFunctionDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BaseEditButtonProps,
.BaseEditFunctionButton {
  font-size: 1.8rem;
  margin: 5px;
}
.BaseComponentGlobalLoadingRootBackdrop {
  z-index: 10;
}
.BaseComponentGlobalLoadingDiv {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.BaseComponentGlobalLoadingTypography {
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.2rem;
}
.BaseComponentErrorViewTitleTypography {
  font-size: 3rem;
}
.BaseComponentErrorViewContentTypography {
  font-size: 1.2rem;
  color: #7f7f7f;
}
.BaseComponentErrorViewRetryButton {
  margin-top: 30px;
}
.ComponentViewDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.RootViewDiv {
  position: relative;
}
.BaseLoadingViewDiv {
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.BaseLoadingLinearProgress {
  height: 10px;
}
body {
  margin: 0;
}
.firebaseui-id-idp-button,
.firebaseui-idp-button,
.mdl-button,
.mdl-js-button,
.mdl-button--raised,
.firebaseui-idp-google {
  max-width: unset !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 6rem;
}
.firebaseui-container {
  max-width: 90% !important;
}
.firebaseui-idp-text-short,
.firebaseui-idp-text,
.firebaseui-idp-text-long {
  font-size: 2.3rem !important;
  font-family: var(--sec-font);
}
.firebaseui-idp-icon {
  height: 3vmin !important;
  width: 3vmin !important;
}
.firebaseui-tospp-full-message,
.firebaseui-tos {
  font-size: 2.3rem !important;
}
/*# sourceMappingURL=common.css.map */