/** following for purchaseSucceed  component used  */

.PurchaseSucceedDiv {
  /** style */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PurchaseSucceedSucceedTitleTypography {
  /** style */
  font-size: 1.8rem;
}

.PurchaseSucceedConfirmButton {
  /** style */
  font-size: 1.2rem;
  margin-top: 30px;
}

/** following for login  component used  */

.LoginDiv {
  /** style */
  width: 100vw;
  height: 20%;
}

.WrapLoginDiv {
  /** style */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

/** following for navigator  component used  */

.NavigatorDiv {
  /** style */
  flex-grow: 1;
}

.NavigatorAppBarAppBar {
  /** style */
  background-color: #7f7f7f;
}

.NavigatorAppBarToolBarToolbar {
  /** style */
}

.NavigatorAppBarToolBarMenuIconButton {
  /** style */
  margin-right: 10px;
}

.NavigatorAppBarToolBarMenuIconMenuIcon {
  /** style */
}

.NavigatorAppBarToolBarTitleTypography {
  /** style */
  flex-grow: 1;
}

.NavigatorAppBarToolBarLoginButton {
  /** style */
}

.NavigatorExtraDrawer {
  /** style */
}

.NavigatorExtraContentDiv {
  /** style */
}

/** following for main  component used  */

.MainDiv {
  /** style */
}

.MainJuniorButton {
  /** style */
  margin: 5px;
  min-height: 10vw;
  min-width: 20vh;
  font-size: 2.2em;
  color: #0074d9;
  border-color: #0074d9;
}

.MainHighButton:extend(.MainJuniorButton all) {
}

.MainSocialButton:extend(.MainJuniorButton all) {
}

.MainPurchaseButton:extend(.MainJuniorButton all) {
}

.MainUploadButton:extend(.MainJuniorButton all) {
}

.MainImageUrlImg {
  /** style */
  height: 50px;
  width: 50px;
}

/** following for exam  component used  */

.ExamDiv {
  /** style */
  margin: 3px;
}

.ExamQuestionCard {
  /** style */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
  padding: 1vw;
}

.WrapExamQuestionDiv {
  /** style */
  position: relative;
}

.ListWrapExamQuestionDiv {
  /** style */
}

.ExamQuestionAlertOuterDiv {
  /** style */
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.ExamQuestionAlertAlertImageImg {
  /** style */
  opacity: 0.3;
  height: 70%;
}

.WrapExamQuestionAlertAlertImageDiv {
  /** style */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ExamQuestionTopicDiv {
  /** style */
}

.ExamQuestionTopicNameTypography {
  /** style */
  font-size: 2.5rem;
}

.WrapExamQuestionTopicNameDiv {
  /** style */
}

.ExamQuestionTopicImageDiv {
  /** style */
}

.ListWrapExamQuestionTopicImageDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ExamQuestionTopicImageUrlImg {
  /** style */
  width: 120px;
  height: 120px;
  margin: 3px;
}

.ExamQuestionChoiceDiv {
  /** style */
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.ListWrapExamQuestionChoiceDiv {
  /** style */
}

.ExamQuestionChoiceStatementButton {
  /** style */
  text-align: left;
  font-size: 2.1rem;
}

.WrapExamQuestionChoiceStatementDiv {
  /** style */
  margin-bottom: 1vh;
}

.ExamQuestionTipTypography {
  /** style */
}

.WrapExamQuestionTipDiv {
  /** style */
}

/** following for result  component used  */

.ResultCard {
  /** style */
}

.ResultScoreTypography {
  /** style */
}

.ResultMessageTypography {
  /** style */
}

/** following for purchase  component used  */

.PurchaseDiv {
  /** style */
  display: flex;
  width: 99%;
  flex-direction: column;
  justify-content: center;
}

.PurchaseBannerImg {
  /** style */
  width: 90vw;
}

.WrapPurchaseBannerDiv {
  /** style */
  display: flex;
  justify-content: center;
  margin: 10px;
}

.PurchasePurchasePlanDiv {
  /** style */
  display: flex;
  width: 90vw;
  flex-direction: column;
}

.ListWrapPurchasePurchasePlanDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 10px;
}

.PurchasePurchasePlanNameTypography {
  /** style */
  font-size: 1.4rem;
}

.WrapPurchasePurchasePlanNameDiv {
  /** style */
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 6vh;
  align-items: center;
}

.PurchasePurchasePlanSpaceDiv {
  /** style */
  height: 1px;
  background-color: #111111;
}

.PurchasePurchasePlanPriceTypography {
  /** style */
}

.WrapPurchasePurchasePlanPriceDiv:extend(.WrapPurchasePurchasePlanNameDiv all) {
  /** style */
  flex-direction: column;
}

.PurchasePurchasePlanPricePriceTipTypography {
  /** style */
}

.PurchasePurchasePlanBuyButton {
  /** style */
  font-size: 1rem;
}

.WrapPurchasePurchasePlanBuyDiv:extend(.WrapPurchasePurchasePlanNameDiv all) {
  /** style */
  border-style: none;
}

/** following for exam editor component used  */

.ExamEditorDiv:extend(.ExamDiv all) {
  /** style */
}

.ExamEditorQuestionCard:extend(.ExamQuestionCard all) {
  /** style */
}

.WrapExamEditorQuestionDiv:extend(.WrapExamQuestionDiv all) {
  /** style */
}

.ListWrapExamEditorQuestionDiv:extend(.ListWrapExamQuestionDiv all) {
  /** style */
}

.ExamEditorQuestionIdTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionAlertOuterDiv:extend(.ExamQuestionAlertOuterDiv all) {
  /** style */
}

.ExamEditorQuestionTopicDiv:extend(.ExamQuestionTopicDiv all) {
  /** style */
}

.ExamEditorQuestionTopicNameTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionTopicNameDiv:extend(.WrapExamQuestionTopicNameDiv all) {
  /** style */
}

.ExamEditorQuestionTopicImageDiv:extend(.ExamQuestionTopicImageDiv all) {
  /** style */
}

.WrapExamEditorQuestionTopicImageDiv:extend(.WrapExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ListWrapExamEditorQuestionTopicImageDiv:extend(.ListWrapExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionTopicImageUrlImg:extend(.ExamQuestionTopicImageUrlImg all) {
  /** style */
}

.ExamEditorQuestionChoiceDiv:extend(.ExamQuestionChoiceDiv all) {
  /** style */
}

.WrapExamEditorQuestionChoiceDiv:extend(.WrapExamQuestionChoiceDiv all) {
  /** style */
}

.ListWrapExamEditorQuestionChoiceDiv:extend(.ListWrapExamQuestionChoiceDiv
    all) {
  /** style */
}

.ExamEditorQuestionChoiceStatementTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionChoiceStatementDiv:extend(.WrapExamQuestionChoiceStatementDiv
    all) {
  /** style */
}

.ExamEditorQuestionAnswerTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionSubjectTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionTypeTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionYearTextField:extend(.BaseEditorTextField all) {
  /** style */
}

/** ======== following for homeless ========= */

.BaseComponentErrorViewPaper {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 30px;
}

.BaseComponentGlobalLoadingRootDiv {
  position: absolute;
  width: 100vw;
  height: 95vh;
}

.BaseEditorTextField {
  margin: 5px;
}

.BaseEditFunctionDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BaseEditButtonProps {
  font-size: 1.8rem;
  margin: 5px;
}

.BaseEditFunctionButton:extend(.BaseEditButtonProps all) {
}

.BaseComponentGlobalLoadingRootBackdrop {
  z-index: 10;
}

.BaseComponentGlobalLoadingDiv {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BaseComponentGlobalLoadingTypography {
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.2rem;
}

.BaseComponentErrorViewTitleTypography {
  font-size: 3rem;
}

.BaseComponentErrorViewContentTypography {
  font-size: 1.2rem;
  color: #7f7f7f;
}

.BaseComponentErrorViewRetryButton {
  margin-top: 30px;
}

.BaseSnackAlert {

}

.BaseSnackFuncButton {

}

.ComponentViewDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.RootViewDiv {
  position: relative;
}

.BaseLoadingViewDiv {
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.BaseLoadingLinearProgress {
  height: 10px;
}

body {
  margin: 0;
}

.firebaseui-idp-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-js-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-button--raised:extend(.firebaseui-id-idp-button all) {
}

.firebaseui-idp-google:extend(.firebaseui-id-idp-button all) {
}

.firebaseui-id-idp-button {
  max-width: unset !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 6rem;
}

.firebaseui-container {
  max-width: 90% !important;
}

.firebaseui-idp-text:extend(.firebaseui-idp-text-short all) {
}

.firebaseui-idp-text-long:extend(.firebaseui-idp-text-short all) {
}

.firebaseui-idp-text-short {
  font-size: 2.3rem !important;
  font-family: var(--sec-font);
}

.firebaseui-idp-icon {
  height: 3vmin !important;
  width: 3vmin !important;
}

.firebaseui-tospp-full-message {
  font-size: 2.3rem !important;
}

.firebaseui-tos:extend(.firebaseui-tospp-full-message all) {
}
