@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@desktop: ~"only screen and (min-width: 601px)";
@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for main  component used  */

.MainDiv:extend(.CenterInParentColumn) {
  margin-bottom: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperSlide {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperList:extend(.SliderOfViewPager) {
  background: #eeeeee;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperSlide {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperSlideSkeleton {
  width: 100vw;
  height: 20vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerImageImg:extend(.ImageOfViewPager) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerImageDivWrap:extend(.ImageWrapOfViewPager) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTitleOfHotRhythmTypography {
  margin-top: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmCard:extend(.ChildOfHorizontalScroll) {
  border-width: 1px;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media @mobile {
    height: 80px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmDivList:extend(.ContainerOfHorizontalScroll) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 1080px;
  }
}
.MainHotRhythmCardSkeleton {
  width: 100vw;
  height: 100px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmNameTypography {
  color: #5580aa;
  font-weight: bold;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmSingerTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmIndexOfSequenceTypography {
  display: none;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTitleOfHotSingerTypography:extend(.MainTitleOfHotRhythmTypography all) {
  margin-top: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerCard:extend(.MainHotRhythmCard all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerDivList:extend(.MainHotRhythmDivList all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerCardSkeleton:extend(.MainHotRhythmCardSkeleton all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerNameTypography:extend(.MainHotRhythmNameTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerIndexOfSequenceTypography {
  display: none;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerStatementTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionPaper:extend(.PaperOfSimpleGrid all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionGridWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionGridList {
  margin-top: 20px;
  padding: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 800px;
  }
}
.MainInterestingOfFunctionPaperSkeleton {
  display: none;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionTitleTypography:extend(.TitleOfSimpleGridItem) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionSubTitleTypography:extend(.SubTitleOfSimpleGridItem) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for sheet  component used  */

.SheetDiv:extend(.CenterInParentColumn) {
  margin-top: 20px;
  margin-bottom: 30px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuDiv {
  z-index: 3;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuPaperWrap:extend(.CenterInParentColumn) {
  width: 96vw;
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 1080px;
  }
}
.SheetGuitarpuDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuDivSkeleton {
  width: 100vw;
  height: 30vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuSpeedOfRhythmTypography {
  position: absolute;
  top: 0;
  width: 20px;
  height: 60px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuSpeedOfRhythmDivWrap:extend(.CenterInParentRow) {
  position: relative;
  float: right;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuSpeedOfRhythmLabelOfSpeedOfRhythmTypography {
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px;
  height: 60px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuImageOfPreludeImg {
  width: 99%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(136, 136, 136, 0.5);
  margin-bottom: 5px;
  margin-top: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuCurrentContextTypography {
  white-space: pre-wrap;
  @media @mobile {
    font-size: 0.6rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    font-size: 1rem;
  }
}
.SheetGuitarpuFloatAreaDiv:extend(.CenterInParentRelative) {
  height: 95%;
  width: 95%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 880px;
  }
}
.SheetGuitarpuFloatAreaMarkOfYuehImg {
  opacity: 0.1;
  width: 100%;
  @media @mobile {
    width: 100%;
  }
  @media @tablet {
    width: 100%;
  }
  @media @desktop {
    width: 85%;
  }
}
.SheetGuitarpuFloatAreaMarkOfYuehDivWrap:extend(.CenterInParentColumn) {
  width: 100%;
  height: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetNameOfSongAndSingerTypography {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.2);
  @media @mobile {
    font-size: 1.3rem;
  }
  @media @tablet {
    font-size: 1.4rem;
  }
  @media @desktop {
    font-size: 2.2rem;
  }
}
.SheetTipOfLoadingTypography:extend(.SheetNameOfSongAndSingerTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustSwipeableDrawerWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterDiv:extend(.CenterInParentColumn) {
  gap: 8px;
  padding: 5px;
  @media @mobile {
    gap: 4px;
  }
  @media @tablet {
    gap: 4px;
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterPreludeWrapperDiv:extend(.CenterInParentRow) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterPreludeWrapperPreludeOfCButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterPreludeWrapperPreludeOfGButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterTonalityWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterTonalityWrapperSharpenButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterTonalityWrapperFlattenButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterFontWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterFontWrapperEnlargeButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterFontWrapperShrinkButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperToMaleTonalityButton {
  text-transform: none;
  white-space: pre-wrap;
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperToFemaleTonalityButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperToOriginalTonalityButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperHideChordFormControlLabel {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperHideChordToggleOfHideChordSwitch {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperHideChordLabelOfHideChordTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperJoinToFavoriteFormControlLabel {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperJoinToFavoriteToggleOfJoinToFavoriteSwitch {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperJoinToFavoriteLabelOfJoinToFavoriteTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperNoteButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperNoteReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for portfolio  component used  */

.PortfolioDiv {
  padding-top: 10px;
  padding-bottom: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmCard:extend(.CenterInParentColumn) {
  padding: 5px;
  gap: 3px;
  @media @mobile {
    width: 95vw;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    width: 50vw;
    max-width: 880px;
  }
}
.PortfolioRhythmDivList:extend(.CenterInParentColumn) {
  gap: 10px;
  min-height: 50vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmCardSkeleton {
  width: 100vw;
  height: 70px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmNameTypography {
  color: #5580aa;
  font-weight: bold;
  font-size: 1.1rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmSingerTypography {
  font-size: 0.9rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmComposerTypography:extend(.PortfolioRhythmSingerTypography) {
  font-size: 0.9rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for artist  component used  */

.ArtistDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for historyRhythm  component used  */

.HistoryRhythmDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for personalRhythm  component used  */

.PersonalRhythmDiv:extend(.PortfolioDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuCard:extend(.PortfolioRhythmCard) {
  flex-direction: row;
  justify-content: space-between;
  min-height: 45px;
  padding-left: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuDivWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuDivList:extend(.PortfolioRhythmDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuCardSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuTitleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuTitleDivWrap:extend(.CenterInParentColumn) {
  width: 100%;
  background: #d3d3d3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuNameTypography:extend(.PortfolioRhythmNameTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuExtraIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuExtraReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuExtraIconMoreHoriz {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for noteEditor  component used  */

.NoteEditorPaper:extend(.CenterInParentColumn) {
  width: 50vw;
  padding: 10px;
  max-height: 70vh;
  gap: 10px;
  @media @mobile {
    width: 70vw;
  }
  @media @tablet {
    width: 70vw;
  }
  @media @desktop {
    max-width: 880px;
    padding: 14px;
  }
}
.NoteEditorContentTextField {
  width: 100%;
  max-height: 70vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NoteEditorFunctionAreaDiv:extend(.TailInParentRow) {
  width: 100%;
  gap: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NoteEditorFunctionAreaSubmitButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NoteEditorFunctionAreaCancelButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for account  component used  */

.AccountPaper:extend(.CenterInParentColumn) {
  width: 90vw;
  min-height: 60vh;
  gap: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 550px;
  }
}
.AccountUrlOfHeadPhotoAvatar {
  width: 60px;
  height: 60px;
  @media @mobile {
    margin-bottom: 20px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin-bottom: 40px;
  }
}
.AccountFuncAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 80%;
  justify-content: space-between;
  @media @mobile {
    width: 90%;
  }
  @media @tablet {
    width: 90%;
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameLabelOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameValueOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountSpaceDiv {
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    width: 90%;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailDiv:extend(.AccountFuncAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailLabelOfEmailTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    font-size: 0.8rem;
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailValueOfEmailTypography {
  @media @mobile {
    font-size: 0.7rem;
  }
  @media @tablet {
    font-size: 0.7rem;
  }
  @media @desktop {
    font-size: 0.8rem;
  }
}
.AccountFuncAreaOfIdDiv:extend(.AccountFuncAreaOfNameDiv) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdLabelOfIdTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    font-size: 0.8rem;
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.AccountFuncAreaOfIdStateAreaOfIdValueOfIdTypography {
  @media @mobile {
    font-size: 0.7rem;
  }
  @media @tablet {
    font-size: 0.7rem;
  }
  @media @desktop {
    font-size: 0.8rem;
  }
}
.AccountFuncAreaOfEditDiv:extend(.CenterInParentRow) {
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  @media @mobile {
    margin-top: 20px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin-top: 30px;
  }
}
.AccountFuncAreaOfEditLangTextFieldList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLangMenuItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditCopyUserIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditToEditModeButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinAdminButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinAdminReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinReaderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinReaderReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for infoOfCopyRight  component used  */

.InfoOfCopyRightDiv:extend(.CenterInParentColumn) {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100vw;
  align-items: flex-end;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
  }
}
.InfoOfCopyRightUpperGroupDiv:extend(.CenterInParentRow) {
  justify-content: space-between;
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaContactButton {
  height: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaContactReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaBusinessButton:extend(.InfoOfCopyRightUpperGroupLeftAreaContactButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupLeftAreaBusinessReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaResponsibilityOffButton:extend(.InfoOfCopyRightUpperGroupLeftAreaContactButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaResponsibilityOffReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaSeparatorTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightUpperGroupRightAreaCprtButton:extend(.InfoOfCopyRightUpperGroupLeftAreaContactButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaDiv {
  margin-right: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaFbIconButton {
  width: 30px;
  height: 30px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    width: 35px;
    height: 35px;
  }
}
.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg {
  width: 25px;
  height: 25px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    width: 32px;
    height: 32px;
  }
}
.InfoOfCopyRightGroupOfSocialMediaIgIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaFbIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaIgImgOfIgImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaLineIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaFbIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightGroupOfSocialMediaLineImgOfLineImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for infoOfCopyRightContact  component used  */

.InfoOfCopyRightContactCard:extend(.CenterInParentColumn) {
  align-items: flex-start;
  padding: 30px;
  gap: 20px;
  @media @mobile {
    padding: 10px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactDivWrap:extend(.CenterInParentColumn) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaContactTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaContactDivWrap:extend(.CenterInParentColumn) {
  width: fit-content;
  padding: 6px;
  padding-left: 9px;
  background: #d2d2d2;
  border-radius: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailDiv:extend(.CenterInParentColumn) {
  margin-top: 20px;
  gap: 10px;
  align-items: flex-start;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneDivWrap:extend(.CenterInParentRow) {
  justify-content: flex-start;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneBtnOfPhoneIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneBtnOfPhoneIconPhoneOutlined {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneLabelOfPhoneTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailDivWrap:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailBtnOfEmailIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailBtnOfEmailIconMailOutlined {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfDetailEmailLabelOfEmailTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaDiv:extend(.CenterInParentRow) {
  width: 100%;
  justify-content: flex-end;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaFbIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaFbIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaFbImgOfFbImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaIgIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaIgIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaIgImgOfIgImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaLineIconButton:extend(.InfoOfCopyRightGroupOfSocialMediaIgIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactUpperAreaGroupOfSocialMediaLineImgOfLineImg:extend(.InfoOfCopyRightGroupOfSocialMediaFbImgOfFbImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaDiv:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaIntroduceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaIntroduceDivWrap:extend(.InfoOfCopyRightContactUpperAreaContactDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactLowerAreaDetailsTypography:extend(.InfoOfCopyRightContactUpperAreaGroupOfDetailPhoneTypography) {
  margin-top: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContactCancelButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for infoOfCopyRightContent  component used  */

.InfoOfCopyRightContentPaper {
  padding: 5px;
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    padding: 10px;
    width: 650px;
  }
}
.InfoOfCopyRightContentDivWrap:extend(.CenterInParentColumn) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentCancelButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentUpperAreaDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentUpperAreaAdvantageStmtTypography {
  font-size: 0.7rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.InfoOfCopyRightContentUpperAreaAdvantageStmtDivWrap {
  background: #d2d2d2;
  padding: 3px;
  border-radius: 5px;
  @media @mobile {
    margin: 3px;
    margin-left: 6px;
    margin-right: 6px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin: 5px;
    margin-left: 35px;
    margin-right: 35px;
  }
}
.InfoOfCopyRightContentProjectDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    min-height: 280px;
  }
}
.InfoOfCopyRightContentProjectDivList:extend(.CenterInParentColumn) {
  gap: 15px;
  @media @mobile {
    gap: 40px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.InfoOfCopyRightContentProjectDivSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectImageImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectImageCardWrap {
  height: 180px;
  width: 280px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    height: 200px;
    width: 280px;
  }
}
.InfoOfCopyRightContentProjectUpperAreaDiv:extend(.CenterInParentRow) {
  padding-left: 5px;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectUpperAreaTitleTypography {
  font-weight: bold;
  font-size: 1rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    font-size: 1.2rem;
  }
}
.InfoOfCopyRightContentProjectUpperAreaTraitTypography {
  font-size: 0.7rem;
  margin-top: 2px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.InfoOfCopyRightContentProjectUpperAreaTraitDivWrap {
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background: #d2d2d2;
  border-radius: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectDescriptionDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectDescriptionDivList:extend(.CenterInParentColumn) {
  align-items: flex-start;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectDescriptionStatementTypography {
  font-size: 0.7rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    font-size: 0.8rem;
  }
}
.InfoOfCopyRightContentProjectDescriptionStatementDivWrap:extend(.CenterInParentRow) {
  margin-top: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectDescriptionStatementBtnOfStatementIconButton {
  width: 18px;
  height: 18px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentProjectDescriptionStatementBtnOfStatementIconStarRounded {
  width: 15px;
  height: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for navigator  component used  */

.NavigatorDiv {
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarToolbar {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAppBarWrap {
  background-color: #111111;
  height: 60px;
  display: flex;
  justify-content: center;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconMenuRounded {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarTitleTypography {
  width: 80px;
  font-size: 1.4rem;
  @media @mobile {
    font-size: 1rem;
    width: 50px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteAutocomplete {
  flex-grow: 1;
  margin-right: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteInputOfCompleteTextField {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  @media @mobile {
    width: 95%;
  }
  @media @tablet {
    width: 95%;
  }
  @media @desktop {
    width: 70%;
    max-width: 500px;
  }
}
.NavigatorToolBarCompleteInputOfCompleteFormWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarLoginButton {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountIconButton {
  background-color: rgba(255, 255, 255, 0.9);
  height: 32px;
  width: 32px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountHeadAccountCircle {
  height: 40px;
  width: 40px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarTipOfLoadingCircularProgress {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItemSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutTitleTypography {
  font-size: 3rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutIconImg {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDiv:extend(.MainPromotedBannerDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDivWrap:extend(.MainPromotedBannerDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDivList:extend(.MainPromotedBannerDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDiv:extend(.MainPromotedBannerDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDivWrap:extend(.MainPromotedBannerDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerRouteTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerImageImg:extend(.MainPromotedBannerImageImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerImageDivWrap:extend(.MainPromotedBannerImageDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerImageTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmCard:extend(.MainHotRhythmCard) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmDivWrap:extend(.MainHotRhythmDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmDivList:extend(.MainHotRhythmDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmNameTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmSingerTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmIdOfGuitarPuTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerCard:extend(.MainHotSingerCard) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerDivWrap:extend(.MainHotSingerDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerDivList:extend(.MainHotSingerDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerNameTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerIdOfSingerTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerStatementTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionPaper:extend(.MainInterestingOfFunctionPaper) {
  height: 500px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionDivWrap:extend(.MainInterestingOfFunctionDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionDivList:extend(.MainInterestingOfFunctionDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionRouteTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionXsTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionSubTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for infoOfCopyRightContent editor component used  */

.InfoOfCopyRightContentEditorPaper:extend(.InfoOfCopyRightContentPaper) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorDivWrap:extend(.InfoOfCopyRightContentDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorUpperAreaDiv:extend(.InfoOfCopyRightContentUpperAreaDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDiv:extend(.InfoOfCopyRightContentProjectDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDivWrap:extend(.InfoOfCopyRightContentProjectDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDivList:extend(.InfoOfCopyRightContentProjectDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectRouteTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectImageImg:extend(.InfoOfCopyRightContentProjectImageImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectImageCardWrap:extend(.InfoOfCopyRightContentProjectImageCardWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectUpperAreaDiv:extend(.InfoOfCopyRightContentProjectUpperAreaDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectUpperAreaTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectUpperAreaTraitTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectUpperAreaTraitDivWrap:extend(.InfoOfCopyRightContentProjectUpperAreaTraitDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDescriptionDiv:extend(.InfoOfCopyRightContentProjectDescriptionDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDescriptionDivWrap:extend(.InfoOfCopyRightContentProjectDescriptionDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDescriptionDivList:extend(.InfoOfCopyRightContentProjectDescriptionDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDescriptionStatementTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDescriptionStatementDivWrap:extend(.InfoOfCopyRightContentProjectDescriptionStatementDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDescriptionStatementBtnOfStatementIconButton:extend(.InfoOfCopyRightContentProjectDescriptionStatementBtnOfStatementIconButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectDescriptionStatementBtnOfStatementIconStarRounded:extend(.InfoOfCopyRightContentProjectDescriptionStatementBtnOfStatementIconStarRounded) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.InfoOfCopyRightContentEditorProjectImageTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}

