@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@desktop: ~"only screen and (min-width: 601px)";
@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for main  component used  */

.MainDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainWeekPopularCard {
  height: 50px;
  margin: 5px;
  @media @mobile {
    height: 70px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainWeekPopularDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainWeekPopularDivListWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainWeekPopularNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainWeekPopularSingerTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainWeekPopularIndexOfSequenceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for rhythm  component used  */

.RhythmDiv {
  margin-top: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmGuitarpuPaper {
  width: 95vw;
  padding: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmGuitarpuDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmGuitarpuContextTypography {
  white-space: pre-wrap;
  @media @mobile {
    font-size: 0.6rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmAdjustSwipeableDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmAdjustCenterDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmAdjustCenterSharpenButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmAdjustCenterFlattenButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmAdjustCenterEnlargeButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmAdjustCenterShrinkButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.RhythmAdjustCenterIsHideChordSwitch {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for navigator  component used  */

.NavigatorDiv {
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarAppBar {
  background-color: #111111;
  @media @mobile {
    height: 60px;
    display: flex;
    justify-content: center;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarToolbar {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarMenuIconButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarMenuIconMenuIcon {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarTitleTypography {
  flex-grow: 1;
  font-size: 1.4rem;
  @media @mobile {
    font-size: 1rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarToEditModeButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorAppBarToolBarLoginButton {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutTitleTypography {
  font-size: 3rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutIconImg {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularCard:extend(.MainWeekPopularCard) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularDivWrap:extend(.MainWeekPopularDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularDivList:extend(.MainWeekPopularDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularDivListWrap:extend(.MainWeekPopularDivListWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularNameTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularSingerTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularIdOfToneTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorWeekPopularIdOfSingerTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
