@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@desktop: ~"only screen and (min-width: 601px)";
@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for main  component used  */

.MainDiv:extend(.CenterInParentColumn) {
  margin-bottom: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperSlide {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperList:extend(.SliderOfViewPager) {
  background: #eeeeee;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperSlide {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerSwiperSlideSkeleton {
  width: 100vw;
  height: 20vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerImageImg:extend(.ImageOfViewPager) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainPromotedBannerImageDivWrap:extend(.ImageWrapOfViewPager) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTitleOfHotRhythmTypography {
  margin-top: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmCard:extend(.ChildOfHorizontalScroll) {
  border-width: 1px;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media @mobile {
    height: 80px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmDivList:extend(.ContainerOfHorizontalScroll) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 1080px;
  }
}
.MainHotRhythmCardSkeleton {
  width: 100vw;
  height: 100px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmNameTypography {
  color: #5580aa;
  font-weight: bold;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmSingerTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotRhythmIndexOfSequenceTypography {
  display: none;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainTitleOfHotSingerTypography:extend(.MainTitleOfHotRhythmTypography all) {
  margin-top: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerCard:extend(.MainHotRhythmCard all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerDivList:extend(.MainHotRhythmDivList all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerCardSkeleton:extend(.MainHotRhythmCardSkeleton all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerNameTypography:extend(.MainHotRhythmNameTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerIndexOfSequenceTypography {
  display: none;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainHotSingerStatementTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionPaper:extend(.PaperOfSimpleGrid all) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionGridWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionGridList {
  margin-top: 20px;
  padding: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 800px;
  }
}
.MainInterestingOfFunctionPaperSkeleton {
  display: none;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionTitleTypography:extend(.TitleOfSimpleGridItem) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainInterestingOfFunctionSubTitleTypography:extend(.SubTitleOfSimpleGridItem) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for sheet  component used  */

.SheetDiv:extend(.CenterInParentColumn) {
  margin-top: 20px;
  margin-bottom: 30px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuDiv {
  z-index: 3;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuPaperWrap:extend(.CenterInParentColumn) {
  width: 96vw;
  padding-left: 5px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 1080px;
  }
}
.SheetGuitarpuDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuDivSkeleton {
  width: 100vw;
  height: 30vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuSpeedOfRhythmTypography {
  position: absolute;
  top: 0;
  width: 20px;
  height: 60px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuSpeedOfRhythmDivWrap:extend(.CenterInParentRow) {
  position: relative;
  float: right;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuSpeedOfRhythmLabelOfSpeedOfRhythmTypography {
  position: absolute;
  top: 0;
  right: 10px;
  width: 50px;
  height: 60px;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuImageOfPreludeImg {
  width: 99%;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(136, 136, 136, 0.5);
  margin-bottom: 5px;
  margin-top: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetGuitarpuCurrentContextTypography {
  white-space: pre-wrap;
  @media @mobile {
    font-size: 0.6rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    font-size: 1rem;
  }
}
.SheetGuitarpuFloatAreaDiv:extend(.CenterInParentRelative) {
  height: 95%;
  width: 95%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 880px;
  }
}
.SheetGuitarpuFloatAreaMarkOfYuehImg {
  opacity: 0.1;
  width: 100%;
  @media @mobile {
    width: 100%;
  }
  @media @tablet {
    width: 100%;
  }
  @media @desktop {
    width: 85%;
  }
}
.SheetGuitarpuFloatAreaMarkOfYuehDivWrap:extend(.CenterInParentColumn) {
  width: 100%;
  height: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetNameOfSongAndSingerTypography {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.2);
  @media @mobile {
    font-size: 1.3rem;
  }
  @media @tablet {
    font-size: 1.4rem;
  }
  @media @desktop {
    font-size: 2.2rem;
  }
}
.SheetTipOfLoadingTypography:extend(.SheetNameOfSongAndSingerTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustSwipeableDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterDiv:extend(.CenterInParentColumn) {
  gap: 8px;
  padding: 5px;
  @media @mobile {
    gap: 4px;
  }
  @media @tablet {
    gap: 4px;
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterPreludeWrapperDiv:extend(.CenterInParentRow) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterPreludeWrapperPreludeOfCButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterPreludeWrapperPreludeOfGButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterTonalityWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterTonalityWrapperSharpenButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterTonalityWrapperFlattenButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterFontWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterFontWrapperEnlargeButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterFontWrapperShrinkButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperToMaleTonalityButton {
  text-transform: none;
  white-space: pre-wrap;
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperToFemaleTonalityButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterGenderWrapperToOriginalTonalityButton:extend(.SheetAdjustCenterGenderWrapperToMaleTonalityButton) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperDiv:extend(.SheetAdjustCenterPreludeWrapperDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperHideChordFormControlLabel {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperHideChordToggleSwitch {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperHideChordLabelTypography {
  color: #1976d2;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperJoinToFavoriteFormControlLabel {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperJoinToFavoriteToggleSwitch {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperJoinToFavoriteLabelTypography:extend(.SheetAdjustCenterToggleWrapperHideChordLabelTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperNoteButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.SheetAdjustCenterToggleWrapperNoteReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for portfolio  component used  */

.PortfolioDiv {
  padding-top: 10px;
  padding-bottom: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmCard:extend(.CenterInParentColumn) {
  padding: 5px;
  gap: 3px;
  @media @mobile {
    width: 95vw;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    width: 50vw;
    max-width: 880px;
  }
}
.PortfolioRhythmDivList:extend(.CenterInParentColumn) {
  gap: 10px;
  min-height: 50vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmCardSkeleton {
  width: 100vw;
  height: 70px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmNameTypography {
  color: #5580aa;
  font-weight: bold;
  font-size: 1.1rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmSingerTypography {
  font-size: 0.9rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PortfolioRhythmComposerTypography:extend(.PortfolioRhythmSingerTypography) {
  font-size: 0.9rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for artist  component used  */

.ArtistDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for historyRhythm  component used  */

.HistoryRhythmDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for personalRhythm  component used  */

.PersonalRhythmDiv:extend(.PortfolioDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuCard:extend(.PortfolioRhythmCard) {
  flex-direction: row;
  justify-content: space-between;
  min-height: 45px;
  padding-left: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuDivWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuDivList:extend(.PortfolioRhythmDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuCardSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuTitleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuTitleDivWrap:extend(.CenterInParentColumn) {
  width: 100%;
  background: #d3d3d3;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuNameTypography:extend(.PortfolioRhythmNameTypography) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuExtraIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuExtraReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.PersonalRhythmFavoritePuExtraIconMoreHoriz {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for noteEditor  component used  */

.NoteEditorPaper:extend(.CenterInParentColumn) {
  width: 50vw;
  padding: 10px;
  max-height: 70vh;
  gap: 10px;
  @media @mobile {
    width: 70vw;
  }
  @media @tablet {
    width: 70vw;
  }
  @media @desktop {
    max-width: 880px;
    padding: 14px;
  }
}
.NoteEditorContentTextField {
  width: 100%;
  max-height: 70vh;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NoteEditorFunctionAreaDiv:extend(.TailInParentRow) {
  width: 100%;
  gap: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NoteEditorFunctionAreaSubmitButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NoteEditorFunctionAreaCancelButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for account  component used  */

.AccountPaper:extend(.CenterInParentColumn) {
  width: 90vw;
  min-height: 60vh;
  gap: 3px;
  padding-top: 15px;
  padding-bottom: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 550px;
  }
}
.AccountUrlOfHeadPhotoAvatar {
  width: 60px;
  height: 60px;
  @media @mobile {
    margin-bottom: 20px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin-bottom: 40px;
  }
}
.AccountFuncAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameDiv:extend(.CenterInParentRow) {
  width: 80%;
  justify-content: space-between;
  @media @mobile {
    width: 90%;
  }
  @media @tablet {
    width: 90%;
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameLabelOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameValueOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountSpaceDiv {
  height: 1px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    width: 90%;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailDiv:extend(.AccountFuncAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailLabelOfEmailTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    font-size: 0.8rem;
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailValueOfEmailTypography {
  @media @mobile {
    font-size: 0.7rem;
  }
  @media @tablet {
    font-size: 0.7rem;
  }
  @media @desktop {
    font-size: 0.8rem;
  }
}
.AccountFuncAreaOfIdDiv:extend(.AccountFuncAreaOfNameDiv) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdDiv:extend(.AccountFuncAreaOfNameStateAreaOfNameDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdLabelOfIdTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    font-size: 0.8rem;
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.AccountFuncAreaOfIdStateAreaOfIdValueOfIdTypography {
  @media @mobile {
    font-size: 0.7rem;
  }
  @media @tablet {
    font-size: 0.7rem;
  }
  @media @desktop {
    font-size: 0.8rem;
  }
}
.AccountFuncAreaOfEditDiv:extend(.CenterInParentRow) {
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
  @media @mobile {
    margin-top: 20px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    margin-top: 30px;
  }
}
.AccountFuncAreaOfEditLangTextFieldList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLangMenuItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditCopyUserIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditToEditModeButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinAdminButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinAdminReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinReaderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditBtnOfJoinReaderReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for navigator  component used  */

.NavigatorDiv {
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarToolbar {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAppBarWrap {
  background-color: #111111;
  height: 60px;
  display: flex;
  justify-content: center;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconButton {
  margin-right: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarMenuIconMenuIcon {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarTitleTypography {
  width: 80px;
  font-size: 1.4rem;
  @media @mobile {
    font-size: 1rem;
    width: 50px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteAutocomplete {
  flex-grow: 1;
  margin-right: 20px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarCompleteInputTextField {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  @media @mobile {
    width: 95%;
  }
  @media @tablet {
    width: 95%;
  }
  @media @desktop {
    width: 70%;
    max-width: 500px;
  }
}
.NavigatorToolBarCompleteInputFormWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarLoginButton {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountIconButton {
  background-color: rgba(255, 255, 255, 0.9);
  height: 32px;
  width: 32px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarAccountHeadAccountCircle {
  height: 40px;
  width: 40px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorToolBarTipOfLoadingCircularProgress {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerDrawer {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItem {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutListItemSkeleton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutTitleTypography {
  font-size: 3rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.NavigatorDrawerShortcutIconImg {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDiv:extend(.MainPromotedBannerDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDivWrap:extend(.MainPromotedBannerDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDivList:extend(.MainPromotedBannerDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDiv:extend(.MainPromotedBannerDiv) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerDivWrap:extend(.MainPromotedBannerDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerRouteTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerImageImg:extend(.MainPromotedBannerImageImg) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerImageDivWrap:extend(.MainPromotedBannerImageDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorPromotedBannerImageTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmCard:extend(.MainHotRhythmCard) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmDivWrap:extend(.MainHotRhythmDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmDivList:extend(.MainHotRhythmDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmNameTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmSingerTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmIdOfGuitarPuTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotRhythmIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerCard:extend(.MainHotSingerCard) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerDivWrap:extend(.MainHotSingerDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerDivList:extend(.MainHotSingerDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerNameTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerIdOfSingerTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerStatementTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorHotSingerIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionPaper:extend(.MainInterestingOfFunctionPaper) {
  height: 500px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionDivWrap:extend(.MainInterestingOfFunctionDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionDivList:extend(.MainInterestingOfFunctionDivList) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionIdTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionRouteTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionXsTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionIndexOfSequenceTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.MainEditorInterestingOfFunctionSubTitleTextField:extend(.BaseEditorTextField) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
/** ======== following for homeless ========= */

.EpayTestDiv:extend(.CenterInParentColumn) {
  gap: 25px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayBehaviorOfConfirmLinePayDiv {
  margin-top: 50px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMethodOfPaymentPaper {
  padding: 20px;
  min-width: 350px;
  min-height: 400px;
  @media @mobile {
    min-height: 500px;
    padding: 12px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMethodOfPaymentTitleTypography:extend(.CenterInParentRow) {
  font-size: 1.1rem;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMethodOfPaymentOptionCard:extend(.CenterInParentColumn) {
  width: 200px;
  height: 200px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    width: 250px;
    height: 250px;
  }
}
.EpayMethodOfPaymentOptionDivList:extend(.CenterInParentColumn) {
  margin-top: 30px;
  gap: 20px;
  @media @mobile {
    gap: 30px;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMethodOfPaymentOptionNameTypography {
  background: #eeeeee;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMethodOfPaymentOptionImageImg {
  object-fit: cover;
  border-radius: 5px;
  margin-top: 2px;
  width: 70%;
  height: 70%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMethodOfPaymentOptionDescriptionTypography {
  @media @mobile {
    font-size: 0.8rem;
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    font-size: 0.9rem;
  }
}
.EpayPurchaseOfHistoryDiv:extend(.CenterInParentColumn) {
  min-width: 400px;
  padding-bottom: 50px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderCard {
  padding: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    min-width: 500px;
  }
}
.EpayPurchaseOfHistoryOrderDivList:extend(.CenterInParentColumn) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopDiv:extend(.CenterInParentRow) {
  justify-content: space-between;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadDiv:extend(.CenterInParentRow) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadStringOfOrderIdentityDivWrap:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefDiv:extend(.CenterInParentRow) {
  justify-content: flex-start;
  gap: 5px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefImageOfProductPhotoImg {
  flex-grow: 2;
  width: 40px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionDiv:extend(.CenterInParentColumn) {
  align-items: flex-end;
  flex-grow: 5;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionNameOfProductDivWrap {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceDiv:extend(.CenterInParentRow) {
  justify-content: flex-end;
  min-height: 50px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceValueOfTotalPriceDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeDiv:extend(.CenterInParentRow) {
  min-height: 50px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeSectionOfChooseTypeDiv:extend(.CenterInParentRow) {
  justify-content: flex-end;
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfInputMessageDiv:extend(.CenterInParentColumn) {
  align-items: flex-start;
  gap: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap:extend(.CenterInParentRow) {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDeadlineDeadlineDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDiv:extend(.CenterInParentColumn) {
  width: 100%;
  padding: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDivWrap:extend(.CenterInParentColumn) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDomainDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeDiv:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  gap: 5px;
  align-items: center;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeCodeDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfFuncDiv {
  padding: 8px;
  border-top: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentFailureReasonDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
