@desktop: ~"only screen and (min-width: 601px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
.AccountPaper:extend(.CenterInParentColumn) {
  width: 70vw;
  min-height: 40vh;
  gap: 15px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    max-width: 500px;
  }
}
.AccountUrlOfHeadPhotoAvatar {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameLabelOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfNameStateAreaOfNameValueOfNameTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountSpaceDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailLabelOfEmailTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEmailStateAreaOfEmailValueOfEmailTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdDiv:extend(.CenterInParentRow) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdLabelOfIdTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdStateAreaOfIdValueOfIdTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfIdCopyUserIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditDiv:extend(.CenterInParentRow) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditLogoutReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.AccountFuncAreaOfEditToEditModeButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
