@desktop: ~'only screen and (min-width: 601px)';
@tablet: ~'only screen and (min-width: 320px) and (max-width: 600px)';
@mobile: ~'only screen and (min-width: 320px) and (max-width: 600px)';
.MetisDiv {
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzCard:extend(.CenterInParentColumn) {
    align-items: center;
    width: 100%;
    padding: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzDivList:extend(.CenterInParentColumn) {
    gap: 10px;
    margin: auto;
    width: 500px;
    @media @mobile {
        width: 90vw;
    }
    @media @tablet {
        width: 90vw;
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzCardSkeleton {
    width: 100vw;
    height: 250px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadDiv:extend(.CenterInParentRow) {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #bbb;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadInfoDiv:extend(.CenterInParentColumn) {
    width: 25%;
    height: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadInfoImageOfHostAvatar {
    width: 70px;
    height: 70px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadInfoNameOfHostTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadDescDiv {
    position: relative;
    padding-top: 10px;
    width: 75%;
    height: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadDescExperienceOfHostTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadDescGotoPortfolioChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzHeadDescGotoPortfolioDivWrap {
    position: absolute;
    right: 5px;
    bottom: 8px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondDiv:extend(.CenterInParentColumn) {
    align-items: flex-start;
    width: 100%;
    gap: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondNameOfClassTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondNameOfClassDivWrap:extend(.CenterInParentRow) {
    justify-content: flex-start;
    border-bottom: 1px solid #bbb;
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondNameOfClassLabelOfNameOfClassTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFeeOfClassTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFeeOfClassDivWrap:extend(.MetisClazzSecondNameOfClassDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFeeOfClassLabelOfFeeOfClassTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondDateOfPeriodTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondDateOfPeriodDivWrap:extend(.MetisClazzSecondNameOfClassDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondDateOfPeriodLabelOfDateOfPeriodTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondDateOfWeekAttendTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondDateOfWeekAttendDivWrap:extend(.MetisClazzSecondNameOfClassDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondDateOfWeekAttendLabelOfDateOfWeekAttendTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondTotalHoursOfClassTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondTotalHoursOfClassDivWrap:extend(.MetisClazzSecondNameOfClassDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondTotalHoursOfClassLabelOfTotalHoursOfClassTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondStateOfRegisteredTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondStateOfRegisteredDivWrap:extend(.MetisClazzSecondNameOfClassDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondStateOfRegisteredLabelOfStateOfRegisteredTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondIntroduceTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondIntroduceDivWrap:extend(.CenterInParentColumn) {
    align-items: flex-start;
    background: #ffeeee;
    width: 100%;
    height: 120px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFuncDiv:extend(.CenterInParentRow) {
    width: 100%;
    height: 60px;
    gap: 20px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFuncSubmitChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFuncMoreChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFuncShareIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisClazzSecondFuncShareIconShareRounded {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpDiv {
    padding-top: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpAreaOfEditDiv:extend(.CenterInParentRow) {
    width: 100%;
    height: 35px;
    position: sticky;
    padding-bottom: 5px;
    padding-top: 5px;
    top: 0;
    pointer-events: none;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpAreaOfEditAppendChip {
    pointer-events: auto;
    margin-right: 30px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpAreaOfEditBackChip {
    pointer-events: auto;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzPaper:extend(.CenterInParentColumn) {
    padding: 5px;
    gap: 12px;
    align-items: flex-start;
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzDivList:extend(.CenterInParentColumn) {
    gap: 10px;
    margin: auto;
    width: 95vw;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzHeadDiv:extend(.CenterInParentRow) {
    gap: 10px;
    width: 100%;
    justify-content: flex-start;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzHeadImageOfHostAvatar {
    width: 60px;
    height: 60px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzHeadNameOfHostTextField {
    width: 60%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzExperienceOfHostTextField {
    width: 79%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzLinkOfPortfolioTextField {
    width: 79%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzNameOfClassTextField {
    width: 79%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzFeeOfClassTextField {
    width: 79%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzSpecificClassDateRangePicker {
    width: 95%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeDiv:extend(.CenterInParentRow) {
    width: 100%;
    gap: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeDivList:extend(.CenterInParentColumn) {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f2f2f2;
    gap: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeDayOfWeekMenuItem {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeDayOfWeekTextFieldList {
    width: 30%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeStartOfTimeTimePicker {
    width: 30%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeEndOfTimeTimePicker {
    width: 30%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeExtraIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeExtraReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzClassTimeExtraIconMoreVertRounded {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzIntroduceTextField {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzInfoDiv:extend(.CenterInParentRow) {
    width: 100%;
    gap: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzInfoCountsOfStudentCapacityTextField {
    width: 22%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzInfoTypeOfClassMenuItem {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzInfoTypeOfClassTextFieldList {
    width: 43%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzInfoStateOfClassMenuItem {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzInfoStateOfClassTextFieldList {
    width: 32%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzAreaOfFuncDiv:extend(.CenterInParentRow) {
    height: 50px;
    width: 100%;
    gap: 40px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzAreaOfFuncUpdateChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzAreaOfFuncDeletedChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSetUpClazzAreaOfFuncDeletedReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpDiv {
    margin: auto;
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentPaper:extend(.CenterInParentColumn) {
    margin: auto;
    width: 100%;
    gap: 10px;
    padding: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentDivList {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentPaperSkeleton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainDiv:extend(.CenterInParentColumn) {
    width: 100%;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainNameOfClassTypography {
    @media @mobile {
        font-size: 0.8rem;
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainNameOfClassDivWrap:extend(.CenterInParentRow) {
    border-bottom: 1px solid #bbb;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainNameOfClassBtnOfNameOfClassIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainNameOfClassBtnOfNameOfClassIconSchoolRounded {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainNameOfClassLabelOfNameOfClassTypography {
    @media @mobile {
        font-size: 0.8rem;
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainDatOfPeriodWithHoursTypography {
    @media @mobile {
        font-size: 0.8rem;
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainDatOfPeriodWithHoursDivWrap:extend(.CenterInParentRow) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainDatOfPeriodWithHoursBtnOfDatOfPeriodWithHoursIconButton {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainDatOfPeriodWithHoursBtnOfDatOfPeriodWithHoursIconEditCalendarRounded {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentMainDatOfPeriodWithHoursLabelOfDatOfPeriodWithHoursTypography {
    @media @mobile {
        font-size: 0.8rem;
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomDiv:extend(.CenterInParentColumn) {
    align-items: flex-start;
    gap: 10px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomNameTextField {
    width: 280px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomNameDivWrap:extend(.CenterInParentRow) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomNameLabelOfNameTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomTextOfEmailTextField:extend(.MetisSignUpStudentCustomNameTextField) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomTextOfEmailDivWrap:extend(.MetisSignUpStudentCustomNameDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomTextOfEmailLabelOfTextOfEmailTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomContactTextField:extend(.MetisSignUpStudentCustomNameTextField) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomContactDivWrap:extend(.MetisSignUpStudentCustomNameDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomContactLabelOfContactTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomBirthdayDatePicker:extend(.MetisSignUpStudentCustomNameTextField) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomBirthdayDivWrap:extend(.MetisSignUpStudentCustomNameDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomBirthdayLabelOfBirthdayTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomIdOfNationalTextField:extend(.MetisSignUpStudentCustomNameTextField) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomIdOfNationalDivWrap:extend(.MetisSignUpStudentCustomNameDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomIdOfNationalLabelOfIdOfNationalTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungDiv:extend(.MetisSignUpStudentCustomDiv) {
    background: #ffdddc;
    width: 100%;
    padding: 5px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungNameOfGuardianTextField:extend(.MetisSignUpStudentCustomNameTextField) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungNameOfGuardianDivWrap:extend(.MetisSignUpStudentCustomNameDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungNameOfGuardianLabelOfNameOfGuardianTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungContactOfGuardianTextField:extend(.MetisSignUpStudentCustomNameTextField) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungContactOfGuardianDivWrap:extend(.MetisSignUpStudentCustomNameDivWrap) {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungContactOfGuardianLabelOfContactOfGuardianTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungNoticeTypography {
    @media @mobile {
        font-size: 0.7rem;
    }
    @media @tablet {
        font-size: 0.7rem;
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomYoungNoticeDivWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomContractTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomContractDivWrap {
    height: 250px;
    max-width: 100%;
    overflow-y: scroll;
    scrollbar-gutter: stable; /* 保持捲動條可見，即使在沒有溢出時 */
    background: #f4f9fb;
    border-radius: 3px;
    padding: 3px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomAgreeOfContractCheckbox {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomAgreeOfContractDivWrap:extend(.MetisSignUpStudentCustomNameDivWrap) {
    flex-direction: row-reverse;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomAgreeOfContractLabelOfAgreeOfContractTypography {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomFuncDiv:extend(.CenterInParentRow) {
    gap: 20px;
    width: 100%;
    height: 40px;
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomFuncAcceptChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomFuncAcceptReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomFuncGoBackChip {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
.MetisSignUpStudentCustomFuncGoBackReactFragmentWrap {
    @media @mobile {
        /** empty style */
    }
    @media @tablet {
        /** empty style */
    }
    @media @desktop {
        /** empty style */
    }
}
