@desktop: ~"only screen and (min-width: 601px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
.EpayTestDiv:extend(.CenterInParentColumn) {
  gap: 25px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCreatePreciseOrderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCheckoutByLinePayButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCheckoutByEcPayButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestIdOfCurrentPreciseOrderTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestIdOfPreciseOrderInputTextField {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestFindEcPayPageByIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestFindLinePayPageByIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMessageOfEPayTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayStatementTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayBehaviorOfConfirmLinePayDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayBehaviorOfConfirmLinePayMessageOfFreezeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryTabTab {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryTabTabsList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderCard {
  padding: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    min-width: 500px;
  }
}
.EpayPurchaseOfHistoryOrderDivList:extend(.CenterInParentColumn) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopDiv:extend(.CenterInParentRow) {
  justify-content: space-between;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadDiv:extend(.CenterInParentRow) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadStringOfOrderIdentityTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadCopyIdentityOfOrderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailStateOfOrderTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraIconMoreHoriz {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefDiv:extend(.CenterInParentRow) {
  justify-content: flex-start;
  gap: 5px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefImageOfProductPhotoImg {
  flex-grow: 2;
  min-height: 40px;
  background-color: #008800;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionDiv:extend(.CenterInParentColumn) {
  align-items: flex-end;
  flex-grow: 5;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionNameOfProductTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionNameOfProductDivWrap {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionSpecificOfProductTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionQuantityTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceDiv:extend(.CenterInParentRow) {
  justify-content: flex-end;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceLabelOfTotalPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceValueOfTotalPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoDiv:extend(.CenterInParentRow) {
  background-color: lightgray;
  min-height: 70px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoDomainTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoSectionOfInfoDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoSectionOfInfoCodeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoSectionOfInfoCopyButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoTopicTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentInfoDeadlineTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfFuncDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfFuncCheckoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestEcPayCheckoutViewDiv {
  min-width: 300px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
