@desktop: ~"only screen and (min-width: 601px)";
@tablet: ~"only screen and (min-width: 320px) and (max-width: 600px)";
@mobile: ~"only screen and (min-width: 320px) and (max-width: 600px)";
.EpayTestDiv:extend(.CenterInParentColumn) {
  gap: 25px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCreatePreciseOrderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCancelPreciseOrderButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCheckoutByLinePayButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestCheckoutByEcPayButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestIdOfCurrentPreciseOrderTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestIdOfPreciseOrderInputTextField {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestFindEcPayPageByIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayTestFindLinePayPageByIdButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayMessageOfEPayTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayBehaviorOfConfirmLinePayDiv {
  margin-top: 50px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayBehaviorOfConfirmLinePayMessageOfFreezeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryDiv:extend(.CenterInParentColumn) {
  min-width: 400px;
  padding-bottom: 50px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryTabTab {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryTabTabsList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderCard {
  padding: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    min-width: 500px;
  }
}
.EpayPurchaseOfHistoryOrderDivList:extend(.CenterInParentColumn) {
  gap: 10px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopDiv:extend(.CenterInParentRow) {
  justify-content: space-between;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadDiv:extend(.CenterInParentRow) {
  gap: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadStringOfOrderIdentityTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadStringOfOrderIdentityDivWrap:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadStringOfOrderIdentityLabelOfStringOfOrderIdentityTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadCopyIdIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfHeadCopyIdIconCopyAll {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailDiv:extend(.CenterInParentRow) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailStateOfOrderTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTopSectionOfTailExtraIconMoreHoriz {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefDiv:extend(.CenterInParentRow) {
  justify-content: flex-start;
  gap: 5px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefDivList {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefImageOfProductPhotoImg {
  flex-grow: 2;
  width: 40px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionDiv:extend(.CenterInParentColumn) {
  align-items: flex-end;
  flex-grow: 5;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionNameOfProductTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionNameOfProductDivWrap {
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionSpecificOfProductTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionQuantityTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderBriefSectionOfDescriptionPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceDiv:extend(.CenterInParentRow) {
  justify-content: flex-end;
  min-height: 50px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceValueOfTotalPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceValueOfTotalPriceDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfTotalPriceValueOfTotalPriceLabelOfValueOfTotalPriceTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeDiv:extend(.CenterInParentRow) {
  min-height: 50px;
  border-bottom: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeLabelOfPaymentTypeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeSectionOfChooseTypeDiv:extend(.CenterInParentRow) {
  justify-content: flex-end;
  flex-grow: 1;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeSectionOfChooseTypeValueOfPaymentTypeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeSectionOfChooseTypeArrowIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeSectionOfChooseTypeArrowReactFragmentWrap {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfChoosePaymentTypeSectionOfChooseTypeArrowIconChevronRight {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfInputMessageDiv:extend(.CenterInParentColumn) {
  align-items: flex-start;
  gap: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfInputMessageLabelTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfInputMessageValueTextField {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap:extend(.CenterInParentRow) {
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleLabelOfRuleTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDeadlineDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDeadlineDeadlineTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDeadlineDeadlineDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDeadlineDeadlineLabelOfDeadlineTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDiv:extend(.CenterInParentColumn) {
  width: 100%;
  padding: 3px;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDivWrap:extend(.CenterInParentColumn) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDomainTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDomainDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailDomainLabelOfDomainTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeDiv:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  gap: 5px;
  align-items: center;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeCodeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeCodeDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeCodeLabelOfCodeTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeCopyIconButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentDetailSectionOfCodeCopyIconCopyAll {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfFuncDiv {
  padding: 8px;
  border-top: 1px solid #bbb;
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfFuncCheckoutButton {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentFailureDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentFailureReasonTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentFailureReasonDivWrap:extend(.EpayPurchaseOfHistoryOrderAreaOfPaymentRuleRuleDivWrap) {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseOfHistoryOrderAreaOfPaymentFailureReasonLabelOfReasonTypography {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
.EpayPurchaseCheckoutDiv {
  @media @mobile {
    /** empty style */
  }
  @media @tablet {
    /** empty style */
  }
  @media @desktop {
    /** empty style */
  }
}
