.react-slideshow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.react-slideshow-container .nav {
  z-index: 10;
}
.react-slideshow-container .default-nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
  background: #fff;
  color: #666;
  outline: none;
}
.react-slideshow-container .default-nav.disabled:hover {
  cursor: not-allowed;
}
.react-slideshow-container .default-nav:first-of-type {
  margin-right: -30px;
  border-right: none;
  border-top: none;
}
.react-slideshow-container .default-nav:last-of-type {
  margin-left: -30px;
}
.react-slideshow-container + ul.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}
.react-slideshow-container + ul.indicators li {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  padding: 5px;
  margin: 0;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator {
  border: none;
  opacity: 0.25;
  cursor: pointer;
  background: transparent;
  color: transparent;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  content: "";
  background: #000;
  text-align: center;
}
.react-slideshow-container + ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container + ul.indicators .each-slideshow-indicator.active,
.react-slideshow-container + ul.indicators .each-slideshow-indicator:focus {
  opacity: 0.75;
  outline: none;
}
.react-slideshow-fade-wrapper {
  width: 100%;
  overflow: hidden;
}
.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap > div {
  position: relative;
  opacity: 0;
}
.react-slideshow-wrapper.slide {
  width: 100%;
  overflow: hidden;
}
.react-slideshow-wrapper .images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.react-slideshow-zoom-wrapper {
  width: 100%;
  overflow: hidden;
}
.react-slideshow-zoom-wrapper .zoom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}
.react-slideshow-zoom-wrapper .zoom-wrapper > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.firebaseui-id-idp-button,
.firebaseui-idp-button,
.mdl-button,
.mdl-js-button,
.mdl-button--raised,
.firebaseui-idp-google {
  max-width: unset !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 6rem;
}
.firebaseui-container {
  max-width: 90% !important;
}
.firebaseui-idp-text-short,
.firebaseui-idp-text,
.firebaseui-idp-text-long {
  font-size: 2.3rem !important;
  font-family: var(--sec-font);
}
.firebaseui-idp-icon {
  height: 3vmin !important;
  width: 3vmin !important;
}
.firebaseui-tospp-full-message,
.firebaseui-tos {
  font-size: 2.3rem !important;
}
.CenterInParentRow,
.CenterInParentColumn,
.BaseAlertDialogContent {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CenterInParentColumn,
.BaseAlertDialogContent {
  flex-direction: column;
}
.BaseShortcutMUIconView {
  color: white;
  font-size: 30px;
}
.BaseShortcutItemAvatarView {
  background-color: black;
}
.BaseShortcutItemTextView {
  color: white;
}
.BaseShortcutItemIconView {
  color: white;
}
.BaseShortcutNestedListView {
  padding-left: 20px;
}
.BaseComponentErrorViewPaper {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 30px;
}
.BaseComponentGlobalLoadingRootDiv {
  position: absolute;
  width: 100vw;
  height: 95vh;
}
.BaseEditorTextField,
.MainEditorViewPagerRouteTextField,
.MainEditorEnterPointTitleTextField,
.MainEditorEnterPointRouteTextField,
.MainEditorEnterPointXsTextField,
.ExamEditorQuestionTopicNameTextField,
.ExamEditorQuestionChoiceStatementTextField,
.ExamEditorQuestionAnswerTextField,
.ExamEditorQuestionSubjectTextField,
.ExamEditorQuestionQidTextField,
.ExamEditorQuestionTypeTextField,
.ExamEditorQuestionYearTextField {
  margin: 5px;
}
.BaseEditFunctionDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BaseEditButtonProps,
.BaseEditFunctionButton {
  font-size: 1.8rem;
  margin: 5px;
}
.BaseComponentGlobalLoadingRootBackdrop {
  z-index: 10;
}
.BaseComponentGlobalLoadingDiv {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.BaseComponentGlobalLoadingTypography {
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.2rem;
}
.BaseComponentErrorViewTitleTypography {
  font-size: 3rem;
}
.BaseComponentErrorViewContentTypography {
  font-size: 1.2rem;
  color: #7f7f7f;
}
.BaseComponentErrorViewRetryButton {
  margin-top: 30px;
}
.BaseCountdownCountTypography {
  font-size: 2.4rem;
}
.BaseCountdownTitleTypography {
  font-size: 1.8rem;
}
.ComponentViewDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.RootViewDiv {
  position: relative;
}
.BaseLoadingViewDiv {
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.BaseLoadingLinearProgress {
  height: 10px;
}
body {
  margin: 0;
}
/** following for examFilter  component used  */
.ExamFilterDiv {
  /** style */
}
.ExamFilterRandomTestDiv {
  /** style */
}
.ExamFilterRandomTestRangeOfYearSlider {
  /** style */
}
.ExamFilterRandomTestBtnOfStartExamButton {
  /** style */
}
.ExamFilterSpaceDiv {
  /** style */
}
.ExamFilterHistoryTestDiv {
  /** style */
}
.ExamFilterHistoryTestSelectorMenuItem {
  /** style */
}
.ListExamFilterHistoryTestSelectorTextField {
  /** style */
}
.ExamFilterHistoryTestSelectorMenuItem {
  /** style */
}
.ExamFilterHistoryTestBtnWithHistoryButton {
  /** style */
}
/** following for purchaseSucceed  component used  */
.PurchaseSucceedDiv {
  /** style */
}
.PurchaseSucceedSucceedTitleTypography {
  /** style */
}
.PurchaseSucceedConfirmButton {
  /** style */
}
/** following for login  component used  */
.LoginDiv {
  /** style */
}
.WrapLoginDiv {
  /** style */
}
/** following for navigator  component used  */
.NavigatorDiv {
  /** style */
}
.NavigatorAppBarAppBar {
  /** style */
}
.NavigatorAppBarToolBarToolbar {
  /** style */
}
.NavigatorAppBarToolBarMenuIconButton {
  /** style */
}
.NavigatorAppBarToolBarMenuIconMenuIcon {
  /** style */
}
.NavigatorAppBarToolBarTitleTypography {
  /** style */
}
.NavigatorAppBarToolBarLoginButton {
  /** style */
}
.NavigatorDrawerDrawer {
  /** style */
}
.NavigatorDrawerShortcutListItem {
  /** style */
}
.ListNavigatorDrawerShortcutList {
  /** style */
}
.NavigatorDrawerShortcutTitleTypography {
  /** style */
}
.NavigatorDrawerShortcutIconImg {
  /** style */
}
/** following for main  component used  */
.MainDiv,
.MainEditorDiv {
  /** style */
}
.MainViewPagerDiv,
.MainEditorViewPagerDiv {
  /** style */
}
.ListMainViewPagerFade {
  /** style */
}
.MainViewPagerImageImg,
.MainEditorViewPagerImageImg {
  /** style */
}
.WrapMainViewPagerImageDiv,
.WrapMainEditorViewPagerImageDiv {
  /** style */
}
.MainEnterPointPaper,
.MainEditorEnterPointPaper {
  /** style */
}
.WrapMainEnterPointGrid {
  /** style */
}
.ListMainEnterPointGrid {
  /** style */
}
.ListWrapMainEnterPointDiv,
.ListWrapMainEditorEnterPointDiv {
  /** style */
}
.MainEnterPointTitleTypography {
  /** style */
}
.MainCountdownPaper,
.MainEditorCountdownPaper {
  /** style */
}
/** following for exam  component used  */
.ExamDiv,
.ExamEditorDiv {
  /** style */
}
.ExamQuestionCard,
.ExamEditorQuestionCard {
  /** style */
}
.WrapExamQuestionDiv,
.WrapExamEditorQuestionDiv {
  /** style */
}
.ListExamQuestionDiv,
.ListExamEditorQuestionDiv {
  /** style */
}
.ExamQuestionAlertOuterDiv,
.ExamEditorQuestionAlertOuterDiv {
  /** style */
}
.ExamQuestionAlertAlertImageImg {
  /** style */
}
.WrapExamQuestionAlertAlertImageDiv {
  /** style */
}
.ExamQuestionTopicDiv,
.ExamEditorQuestionTopicDiv {
  /** style */
}
.ExamQuestionTopicNameTypography {
  /** style */
}
.WrapExamQuestionTopicNameDiv,
.WrapExamEditorQuestionTopicNameDiv {
  /** style */
}
.ExamQuestionTopicImageDiv,
.ExamEditorQuestionTopicImageDiv {
  /** style */
}
.ListExamQuestionTopicImageDiv,
.ListExamEditorQuestionTopicImageDiv {
  /** style */
}
.ExamQuestionTopicImageUrlImg,
.ExamEditorQuestionTopicImageUrlImg {
  /** style */
}
.ExamQuestionChoiceDiv,
.ExamEditorQuestionChoiceDiv {
  /** style */
}
.ListExamQuestionChoiceDiv,
.ListExamEditorQuestionChoiceDiv {
  /** style */
}
.ExamQuestionChoiceStatementButton {
  /** style */
}
.WrapExamQuestionChoiceStatementDiv,
.WrapExamEditorQuestionChoiceStatementDiv {
  /** style */
}
.ExamQuestionChoiceImageDiv,
.ExamEditorQuestionChoiceImageDiv {
  /** style */
}
.ListExamQuestionChoiceImageDiv,
.ListExamEditorQuestionChoiceImageDiv {
  /** style */
}
.ExamQuestionChoiceImageUrlImg,
.ExamEditorQuestionChoiceImageUrlImg {
  /** style */
}
.ExamQuestionTipTypography {
  /** style */
}
.WrapExamQuestionTipDiv {
  /** style */
}
/** following for result  component used  */
.ResultCard {
  /** style */
}
.ResultScoreTypography {
  /** style */
}
.ResultMessageTypography {
  /** style */
}
/** following for purchase  component used  */
.PurchaseDiv {
  /** style */
}
.PurchaseBannerImg {
  /** style */
}
.WrapPurchaseBannerDiv {
  /** style */
}
.PurchasePurchasePlanDiv {
  /** style */
}
.ListPurchasePurchasePlanDiv {
  /** style */
}
.PurchasePurchasePlanNameTypography {
  /** style */
}
.WrapPurchasePurchasePlanNameDiv {
  /** style */
}
.PurchasePurchasePlanSpaceDiv {
  /** style */
}
.PurchasePurchasePlanPriceTypography {
  /** style */
}
.WrapPurchasePurchasePlanPriceDiv {
  /** style */
}
.PurchasePurchasePlanPricePriceTipTypography {
  /** style */
}
.PurchasePurchasePlanBuyButton {
  /** style */
}
.WrapPurchasePurchasePlanBuyDiv {
  /** style */
}
/** following for main editor component used  */
.MainEditorDiv {
  /** style */
}
.MainEditorViewPagerDiv {
  /** style */
}
.WrapMainEditorViewPagerDiv {
  /** style */
}
.ListMainEditorViewPagerDiv {
  /** style */
}
.MainEditorViewPagerRouteTextField {
  /** style */
}
.MainEditorViewPagerImageImg {
  /** style */
}
.WrapMainEditorViewPagerImageDiv {
  /** style */
}
.MainEditorEnterPointPaper {
  /** style */
}
.WrapMainEditorEnterPointDiv {
  /** style */
}
.ListMainEditorEnterPointDiv {
  /** style */
}
.ListWrapMainEditorEnterPointDiv {
  /** style */
}
.MainEditorEnterPointTitleTextField {
  /** style */
}
.MainEditorEnterPointRouteTextField {
  /** style */
}
.MainEditorEnterPointXsTextField {
  /** style */
}
.MainEditorCountdownPaper {
  /** style */
}
/** following for exam editor component used  */
.ExamEditorDiv {
  /** style */
}
.ExamEditorQuestionCard {
  /** style */
}
.WrapExamEditorQuestionDiv {
  /** style */
}
.ListExamEditorQuestionDiv {
  /** style */
}
.ExamEditorQuestionAlertOuterDiv {
  /** style */
}
.ExamEditorQuestionTopicDiv {
  /** style */
}
.ExamEditorQuestionTopicNameTextField {
  /** style */
}
.WrapExamEditorQuestionTopicNameDiv {
  /** style */
}
.ExamEditorQuestionTopicImageDiv {
  /** style */
}
.WrapExamEditorQuestionTopicImageDiv {
  /** style */
}
.ListExamEditorQuestionTopicImageDiv {
  /** style */
}
.ExamEditorQuestionTopicImageUrlImg {
  /** style */
}
.ExamEditorQuestionChoiceDiv {
  /** style */
}
.WrapExamEditorQuestionChoiceDiv {
  /** style */
}
.ListExamEditorQuestionChoiceDiv {
  /** style */
}
.ExamEditorQuestionChoiceStatementTextField {
  /** style */
}
.WrapExamEditorQuestionChoiceStatementDiv {
  /** style */
}
.ExamEditorQuestionChoiceImageDiv {
  /** style */
}
.WrapExamEditorQuestionChoiceImageDiv {
  /** style */
}
.ListExamEditorQuestionChoiceImageDiv {
  /** style */
}
.ExamEditorQuestionChoiceImageUrlImg {
  /** style */
}
.ExamEditorQuestionAnswerTextField {
  /** style */
}
.ExamEditorQuestionSubjectTextField {
  /** style */
}
.ExamEditorQuestionQidTextField {
  /** style */
}
.ExamEditorQuestionTypeTextField {
  /** style */
}
.ExamEditorQuestionYearTextField {
  /** style */
}
/** ======== following for homeless ========= */
.NavigatorLoginButton {
  /** style */
  font-size: 1.3rem;
}
/*# sourceMappingURL=app.css.map */