@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for purchaseSucceed  component used  */

.PurchaseSucceedDiv {
  /** style */
}

.PurchaseSucceedSucceedTitleTypography {
  font-size: 1.8rem;
}

.PurchaseSucceedConfirmButton {
  /** style */
  font-size: 1.2rem;
  margin-top: 30px;
}

/** following for login  component used  */

.LoginDiv {
  /** style */
  width: 100vw;
  height: 20%;
}

.WrapLoginDiv {
  /** style */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
}

/** following for navigator  component used  */

.NavigatorDiv {
  /** style */
  flex-grow: 1;
}

.NavigatorAppBarAppBar {
  /** style */
  background-color: #111111;
}

.NavigatorAppBarToolBarToolbar {
  /** style */
}

.NavigatorAppBarToolBarMenuIconButton {
  /** style */
  margin-right: 10px;
}

.NavigatorAppBarToolBarMenuIconMenuIcon {
  /** style */
}

.NavigatorAppBarToolBarTitleTypography {
  /** style */
  flex-grow: 1;
}

.NavigatorAppBarToolBarLoginButton {
  /** style */
}

.NavigatorDrawerDrawer {
  /** style */
}

.NavigatorDrawerShortcutListItem {
  /** style */
}

.ListNavigatorDrawerShortcutList {
  /** style */
}

.NavigatorDrawerShortcutTitleTypography {
  /** style */
}

.NavigatorDrawerShortcutIconImg {
  /** style */
}

/** following for main  component used  */

.MainDiv {
  /** style */
  display: flex;
  flex-direction: column;
}

.MainViewPagerDiv {
  /** style */
}

.ListMainViewPagerFade {
  /** style */
  width: 100vw;
  height: 28vh;
}

.MainViewPagerImageImg {
  /** style */
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.WrapMainViewPagerImageDiv {
  /** style */
  width: 100vw;
  height: 28vh;
  overflow: hidden;
  position: relative;
}

.MainEnterPointPaper {
  /** style */
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.WrapMainEnterPointGrid {
  /** style */
}

.ListMainEnterPointGrid {
  /** style */
}

.ListWrapMainEnterPointDiv {
  /** style */
  margin-top: 40px;
  padding: 5px;
}

.MainEnterPointTitleTypography {
  /** style */
  font-size: 1.5rem;
}

.MainCountdownPaper {
  /** style */
  padding: 10px;
  margin: 10px;
  margin-top: 6vh;
}

/** following for exam  component used  */

.ExamDiv {
  /** style */
  margin: 3px;
}

.ExamQuestionCard {
  /** style */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
  padding: 1vw;
}

.WrapExamQuestionDiv {
  /** style */
  position: relative;
}

.ListExamQuestionDiv {
  /** style */
}

.ExamQuestionAlertOuterDiv {
  /** style */
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.ExamQuestionAlertAlertImageImg {
  /** style */
  opacity: 0.3;
  height: 70%;
}

.WrapExamQuestionAlertAlertImageDiv {
  /** style */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ExamQuestionTopicDiv {
  /** style */
}

.ExamQuestionTopicNameTypography {
  /** style */
  font-size: 2.5rem;
}

.WrapExamQuestionTopicNameDiv {
  /** style */
}

.ExamQuestionTopicImageDiv {
  /** style */
}

.ListExamQuestionTopicImageDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ExamQuestionTopicImageUrlImg {
  /** style */
  width: 120px;
  height: 120px;
  margin: 3px;
}

.ExamQuestionChoiceDiv {
  /** style */
  margin: 13px;
}

.ListExamQuestionChoiceDiv {
  /** style */
}

.ExamQuestionChoiceStatementButton {
  /** style */
  text-align: left;
  font-size: 2.1rem;
}

.WrapExamQuestionChoiceStatementDiv {
  /** style */
  margin-bottom: 1vh;
}

.ExamQuestionChoiceImageDiv {
  /** style */
}

.ListExamQuestionChoiceImageDiv {
  /** style */
  display: flex;
  flex-direction: row;
}

.ExamQuestionChoiceImageUrlImg {
  /** style */
}

.ExamQuestionTipTypography {
  /** style */
}

.WrapExamQuestionTipDiv {
  /** style */
}

/** following for result  component used  */

.ResultCard {
  /** style */
}

.ResultScoreTypography {
  /** style */
}

.ResultMessageTypography {
  /** style */
}

/** following for purchase  component used  */

.PurchaseDiv {
  /** style */
  display: flex;
  width: 99%;
  flex-direction: column;
  justify-content: center;
}

.PurchaseBannerImg {
  /** style */
  width: 90vw;
}

.WrapPurchaseBannerDiv {
  /** style */
  display: flex;
  justify-content: center;
  margin: 10px;
}

.PurchasePurchasePlanDiv {
  /** style */
  display: flex;
  width: 90vw;
  flex-direction: column;
}

.ListPurchasePurchasePlanDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 10px;
}

.PurchasePurchasePlanNameTypography {
  /** style */
  font-size: 1.4rem;
}

.WrapPurchasePurchasePlanNameDiv {
  /** style */
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 6vh;
  align-items: center;
}

.PurchasePurchasePlanSpaceDiv {
  /** style */
  height: 1px;
  background-color: #111111;
}

.PurchasePurchasePlanPriceTypography {
  /** style */
}

.WrapPurchasePurchasePlanPriceDiv:extend(.WrapPurchasePurchasePlanNameDiv all) {
  /** style */
  flex-direction: column;
}

.PurchasePurchasePlanPricePriceTipTypography {
  /** style */
}

.PurchasePurchasePlanBuyButton {
  /** style */
  font-size: 1rem;
}

.WrapPurchasePurchasePlanBuyDiv:extend(.WrapPurchasePurchasePlanNameDiv all) {
  /** style */
  border-style: none;
}

/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv all) {
  /** style */
}

.MainEditorViewPagerDiv:extend(.MainViewPagerDiv all) {
  /** style */
}

.WrapMainEditorViewPagerDiv:extend(.WrapMainViewPagerDiv all) {
  /** style */
}

.ListMainEditorViewPagerDiv:extend(.ListMainViewPagerDiv all) {
  /** style */
}

.MainEditorViewPagerRouteTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorViewPagerImageImg:extend(.MainViewPagerImageImg all) {
  /** style */
}

.WrapMainEditorViewPagerImageDiv:extend(.WrapMainViewPagerImageDiv all) {
  /** style */
}

.MainEditorEnterPointPaper:extend(.MainEnterPointPaper all) {
  /** style */
}

.WrapMainEditorEnterPointDiv:extend(.WrapMainEnterPointDiv all) {
  /** style */
}

.ListMainEditorEnterPointDiv:extend(.ListMainEnterPointDiv all) {
  /** style */
}

.ListWrapMainEditorEnterPointDiv:extend(.ListWrapMainEnterPointDiv all) {
  /** style */
}

.MainEditorEnterPointTitleTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorEnterPointRouteTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorEnterPointXsTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorCountdownPaper:extend(.MainCountdownPaper all) {
  /** style */
}

/** following for exam editor component used  */

.ExamEditorDiv:extend(.ExamDiv all) {
  /** style */
}

.ExamEditorQuestionCard:extend(.ExamQuestionCard all) {
  /** style */
}

.WrapExamEditorQuestionDiv:extend(.WrapExamQuestionDiv all) {
  /** style */
}

.ListExamEditorQuestionDiv:extend(.ListExamQuestionDiv all) {
  /** style */
}

.ExamEditorQuestionAlertOuterDiv:extend(.ExamQuestionAlertOuterDiv all) {
  /** style */
}

.ExamEditorQuestionTopicDiv:extend(.ExamQuestionTopicDiv all) {
  /** style */
}

.ExamEditorQuestionTopicNameTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionTopicNameDiv:extend(.WrapExamQuestionTopicNameDiv all) {
  /** style */
}

.ExamEditorQuestionTopicImageDiv:extend(.ExamQuestionTopicImageDiv all) {
  /** style */
}

.WrapExamEditorQuestionTopicImageDiv:extend(.WrapExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ListExamEditorQuestionTopicImageDiv:extend(.ListExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionTopicImageUrlImg:extend(.ExamQuestionTopicImageUrlImg all) {
  /** style */
}

.ExamEditorQuestionChoiceDiv:extend(.ExamQuestionChoiceDiv all) {
  /** style */
}

.WrapExamEditorQuestionChoiceDiv:extend(.WrapExamQuestionChoiceDiv all) {
  /** style */
}

.ListExamEditorQuestionChoiceDiv:extend(.ListExamQuestionChoiceDiv all) {
  /** style */
}

.ExamEditorQuestionChoiceStatementTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionChoiceStatementDiv:extend(.WrapExamQuestionChoiceStatementDiv
    all) {
  /** style */
}

.ExamEditorQuestionChoiceImageDiv:extend(.ExamQuestionChoiceImageDiv all) {
  /** style */
}

.WrapExamEditorQuestionChoiceImageDiv:extend(.WrapExamQuestionChoiceImageDiv
    all) {
  /** style */
}

.ListExamEditorQuestionChoiceImageDiv:extend(.ListExamQuestionChoiceImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionChoiceImageUrlImg:extend(.ExamQuestionChoiceImageUrlImg
    all) {
  /** style */
}

.ExamEditorQuestionAnswerTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionSubjectTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionQidTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionTypeTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionYearTextField:extend(.BaseEditorTextField all) {
  /** style */
}

/** ======== following for homeless ========= */

@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
.PurchaseSucceedDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BaseShortcutItemView {
}

.BaseShortcutMUIconView {
  color: white;
  font-size: 30px;
}

.BaseShortcutItemAvatarView {
  background-color: black;
}

.BaseShortcutItemTextView {
  color: white;
}

.BaseShortcutItemIconView {
  color: white;
}

.BaseShortcutCollapseView {
}

.BaseShortcutNestedListView {
  padding-left: 20px;
}

.BaseComponentErrorViewPaper {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 30px;
}

.BaseComponentGlobalLoadingRootDiv {
  position: absolute;
  width: 100vw;
  height: 95vh;
}

.BaseEditorTextField {
  margin: 5px;
}

.BaseEditFunctionDiv {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BaseEditButtonProps {
  font-size: 1.8rem;
  margin: 5px;
}

.BaseEditFunctionButton:extend(.BaseEditButtonProps all) {
}

.BaseComponentGlobalLoadingRootBackdrop {
  z-index: 10;
}

.BaseComponentGlobalLoadingDiv {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.BaseComponentGlobalLoadingTypography {
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.2rem;
}

.BaseComponentErrorViewTitleTypography {
  font-size: 3rem;
}

.BaseComponentErrorViewContentTypography {
  font-size: 1.2rem;
  color: #7f7f7f;
}

.BaseComponentErrorViewRetryButton {
  margin-top: 30px;
}

.BaseCountdownCountTypography {
  font-size: 2.4rem;
}

.BaseCountdownUnitTypography {
}

.BaseCountdownTitleTypography {
  font-size: 1.8rem;
}

.BaseSnackAlert {
}

.BaseSnackFuncButton {
}

.ComponentViewDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.RootViewDiv {
  position: relative;
}

.BaseLoadingViewDiv {
  position: fixed;
  width: 100%;
  z-index: 5;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.BaseLoadingLinearProgress {
  height: 10px;
}

body {
  margin: 0;
}

.firebaseui-idp-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-js-button:extend(.firebaseui-id-idp-button all) {
}

.mdl-button--raised:extend(.firebaseui-id-idp-button all) {
}

.firebaseui-idp-google:extend(.firebaseui-id-idp-button all) {
}

.firebaseui-id-idp-button {
  max-width: unset !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 6rem;
}

.firebaseui-container {
  max-width: 90% !important;
}

.firebaseui-idp-text:extend(.firebaseui-idp-text-short all) {
}

.firebaseui-idp-text-long:extend(.firebaseui-idp-text-short all) {
}

.firebaseui-idp-text-short {
  font-size: 2.3rem !important;
  font-family: var(--sec-font);
}

.firebaseui-idp-icon {
  height: 3vmin !important;
  width: 3vmin !important;
}

.firebaseui-tospp-full-message {
  font-size: 2.3rem !important;
}

.firebaseui-tos:extend(.firebaseui-tospp-full-message all) {
}

.react-slideshow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.react-slideshow-container .nav {
  z-index: 10;
}

.react-slideshow-container .default-nav {
  height: 30px;
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  border: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
  background: #fff;
  color: #666;
  outline: none;
}

.react-slideshow-container .default-nav.disabled:hover {
  cursor: not-allowed;
}

.react-slideshow-container .default-nav:first-of-type {
  margin-right: -30px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .default-nav:last-of-type {
  margin-left: -30px;
}

.react-slideshow-container + ul.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.react-slideshow-container + ul.indicators li {
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  padding: 5px;
  margin: 0;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator {
  border: none;
  opacity: 0.25;
  cursor: pointer;
  background: transparent;
  color: transparent;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  content: "";
  background: #000;
  text-align: center;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container + ul.indicators .each-slideshow-indicator.active,
.react-slideshow-container + ul.indicators .each-slideshow-indicator:focus {
  opacity: 0.75;
  outline: none;
}

.react-slideshow-fade-wrapper {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap > div {
  position: relative;
  opacity: 0;
}

.react-slideshow-wrapper.slide {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-wrapper .images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.react-slideshow-zoom-wrapper {
  width: 100%;
  overflow: hidden;
}

.react-slideshow-zoom-wrapper .zoom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
}

.react-slideshow-zoom-wrapper .zoom-wrapper > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
