@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for examFilter  component used  */

.ExamFilterDiv {
  /** style */
}

.ExamFilterSubjectTypography {
  /** style */
  font-size: 1.8rem;
}

.ExamFilterSpaceDiv {
  /** style */
  height: 20px;
}

.ExamFilterRandomTestDiv:extend(.CenterInParentColumn) {
  width: 60vw;
  height: 50vh;
  border-radius: 5px;
  background-color: #e5f2f2;
}

.ListExamFilterRandomTestFastRangeButtonGroup {
  /** style */
}

.ExamFilterRandomTestFastRangeButton {
  /** style */
}

.ExamFilterRandomTestSpaceDiv {
  /** style */
  height: 20px;
}

.ExamFilterRandomTestRangeOfYearSlider {
  /** style */
  width: 420px;
  margin-top: 20px;
}

.ListExamFilterRandomTestCountsOfExamRadioGroup {
  /** style */
}

.LabelExamFilterRandomTestCountsOfExamTypography {
  /** style */
}

.ExamFilterRandomTestCountsOfExamFormControlLabel {
  /** style */
}

.ExamFilterRandomTestBtnOfStartExamButton {
  /** style */
  font-size: 1.3rem;
}

.ExamFilterHistoryTestDiv:extend(.CenterInParentColumn) {
  /** style */
  width: 60vw;
  height: 40vh;
  border-radius: 5px;
  background-color: #fcdadb;
}

.ListExamFilterHistoryTestSelectorTextField {
  /** style */
  width: 40%;
}

.ExamFilterHistoryTestSelectorMenuItem {
  /** style */
}

.ExamFilterHistoryTestSpaceDiv {
  height: 3vh;
}

.ExamFilterHistoryTestBtnWithHistoryButton {
  /** style */
  font-size: 1.3rem;
}

/** following for purchaseSucceed  component used  */

.PurchaseSucceedDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PurchaseSucceedSucceedTitleTypography {
  font-size: 1.8rem;
}

.PurchaseSucceedConfirmButton {
  /** style */
  font-size: 1.2rem;
  margin-top: 30px;
}

/** following for navigator  component used  */

.NavigatorDiv {
  /** style */
  flex-grow: 1;
}

.NavigatorAppBarAppBar {
  /** style */
  background-color: #111111;
}

.NavigatorAppBarToolBarToolbar {
  /** style */
}

.NavigatorAppBarToolBarMenuIconButton {
  /** style */
  margin-right: 10px;
}

.NavigatorAppBarToolBarMenuIconMenuIcon {
  /** style */
}

.NavigatorAppBarToolBarTitleTypography {
  /** style */
  flex-grow: 1;
}

.NavigatorAppBarToolBarToEditModeButton {
  /** style */
  margin-right: 10px;
}

.NavigatorAppBarToolBarLoginButton {
  /** style */
}

.NavigatorDrawerDrawer {
  /** style */
}

.NavigatorDrawerShortcutListItem {
  /** style */
}

.ListNavigatorDrawerShortcutList {
  /** style */
}

.NavigatorDrawerShortcutTitleTypography {
  /** style */
}

.NavigatorDrawerShortcutIconImg {
  /** style */
}

/** following for main  component used  */

.MainDiv {
  /** style */
  display: flex;
  flex-direction: column;
}

.MainViewPagerDiv {
  /** style */
}

.ListMainViewPagerFade {
  /** style */
  width: 100vw;
  height: 28vh;
}

.MainViewPagerImageImg {
  /** style */
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}

.WrapMainViewPagerImageDiv {
  /** style */
  width: 100vw;
  height: 28vh;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.MainEnterPointPaper {
  /** style */
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.WrapMainEnterPointGrid {
  /** style */
}

.ListMainEnterPointGrid {
  /** style */
}

.ListWrapMainEnterPointDiv {
  /** style */
  margin-top: 40px;
  padding: 5px;
}

.MainEnterPointTitleTypography {
  /** style */
  font-size: 1.5rem;
}

.MainCountdownPaper {
  /** style */
  padding: 10px;
  margin: 10px;
  margin-top: 1vh;
}

/** following for exam  component used  */

.ExamDiv {
  /** style */
  margin: 3px;
}

.ExamQuestionCard {
  /** style */
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vw;
  padding: 1vw;
}

.WrapExamQuestionDiv {
  /** style */
  position: relative;
}

.ListExamQuestionDiv {
  /** style */
}

.ExamQuestionAlertOuterDiv {
  /** style */
  position: absolute;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.ExamQuestionAlertAlertImageImg {
  /** style */
  opacity: 0.3;
  height: 70%;
}

.WrapExamQuestionAlertAlertImageDiv {
  /** style */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ExamQuestionTopicDiv {
  /** style */
}

.ExamQuestionTopicNameTypography {
  /** style */
  font-size: 2.5rem;
}

.WrapExamQuestionTopicNameDiv {
  /** style */
}

.ExamQuestionTopicImageDiv {
  /** style */
}

.ListExamQuestionTopicImageDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ExamQuestionTopicImageUrlImg {
  /** style */
  width: 120px;
  height: 120px;
  margin: 3px;
}

.ExamQuestionChoiceDiv {
  /** style */
  margin: 13px;
}

.ListExamQuestionChoiceDiv {
  /** style */
}

.ExamQuestionChoiceStatementButton {
  /** style */
  text-align: left;
  font-size: 2.1rem;
  text-transform: none;
}

.WrapExamQuestionChoiceStatementDiv {
  /** style */
  margin-bottom: 1vh;
}

.ExamQuestionChoiceImageDiv {
  /** style */
}

.ListExamQuestionChoiceImageDiv {
  /** style */
  display: flex;
  flex-direction: row;
}

.ExamQuestionChoiceImageUrlImg {
  /** style */
}

.ExamQuestionTipTypography {
  /** style */
}

.WrapExamQuestionTipDiv {
  /** style */
}

/** following for result  component used  */

.ResultCard {
  /** style */
}

.ResultScoreTypography {
  /** style */
}

.ResultMessageTypography {
  /** style */
}

/** following for purchase  component used  */

.PurchaseDiv {
  /** style */
  display: flex;
  width: 99%;
  flex-direction: column;
  justify-content: center;
}

.PurchaseBannerImg {
  /** style */
  width: 90vw;
}

.WrapPurchaseBannerDiv {
  /** style */
  display: flex;
  justify-content: center;
  margin: 10px;
}

.PurchasePurchasePlanDiv {
  /** style */
  display: flex;
  width: 90vw;
  flex-direction: column;
}

.ListPurchasePurchasePlanDiv {
  /** style */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  border-radius: 10px;
}

.PurchasePurchasePlanNameTypography {
  /** style */
  font-size: 1.4rem;
}

.WrapPurchasePurchasePlanNameDiv {
  /** style */
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 6vh;
  align-items: center;
}

.PurchasePurchasePlanSpaceDiv {
  /** style */
  height: 1px;
  background-color: #111111;
}

.PurchasePurchasePlanPriceTypography {
  /** style */
}

.WrapPurchasePurchasePlanPriceDiv:extend(.WrapPurchasePurchasePlanNameDiv all) {
  /** style */
  flex-direction: column;
}

.PurchasePurchasePlanPricePriceTipTypography {
  /** style */
}

.PurchasePurchasePlanBuyButton {
  /** style */
  font-size: 1rem;
}

.WrapPurchasePurchasePlanBuyDiv:extend(.WrapPurchasePurchasePlanNameDiv all) {
  /** style */
  border-style: none;
}

/** following for wrongHistory  component used  */

.WrongHistoryDiv {
  /** style */
}

.WrongHistoryTestingRecordCard {
  /** style */
}

.ListWrongHistoryTestingRecordPaper {
  /** style */
}

.WrongHistoryTestingRecordQidTypography {
  /** style */
}

.WrongHistoryTestingRecordMyWrongAnswerTypography {
  /** style */
}

.WrongHistoryTestingRecordSubjectTypography {
  /** style */
}

.WrongHistoryTestingRecordDurationTypography {
  /** style */
}

.WrongHistoryTestingRecordIsWrongReplyTypography {
  /** style */
}

.WrongHistoryTestingRecordExpiredTimeTypography {
  /** style */
}

/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv all) {
  /** style */
}

.MainEditorViewPagerDiv:extend(.MainViewPagerDiv all) {
  /** style */
}

.WrapMainEditorViewPagerDiv:extend(.WrapMainViewPagerDiv all) {
  /** style */
}

.ListMainEditorViewPagerDiv:extend(.ListMainViewPagerDiv all) {
  /** style */
}

.MainEditorViewPagerRouteTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorViewPagerImageImg:extend(.MainViewPagerImageImg all) {
  /** style */
}

.WrapMainEditorViewPagerImageDiv:extend(.WrapMainViewPagerImageDiv all) {
  /** style */
}

.MainEditorEnterPointPaper:extend(.MainEnterPointPaper all) {
  /** style */
}

.WrapMainEditorEnterPointDiv:extend(.WrapMainEnterPointDiv all) {
  /** style */
}

.ListMainEditorEnterPointDiv:extend(.ListMainEnterPointDiv all) {
  /** style */
}

.ListWrapMainEditorEnterPointDiv:extend(.ListWrapMainEnterPointDiv all) {
  /** style */
}

.MainEditorEnterPointTitleTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorEnterPointRouteTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorEnterPointXsTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorCountdownPaper:extend(.MainCountdownPaper all) {
  /** style */
}

/** following for exam editor component used  */

.ExamEditorDiv:extend(.ExamDiv all) {
  /** style */
}

.ExamEditorQuestionCard:extend(.ExamQuestionCard all) {
  /** style */
}

.WrapExamEditorQuestionDiv:extend(.WrapExamQuestionDiv all) {
  /** style */
}

.ListExamEditorQuestionDiv:extend(.ListExamQuestionDiv all) {
  /** style */
}

.ExamEditorQuestionAlertOuterDiv:extend(.ExamQuestionAlertOuterDiv all) {
  /** style */
}

.ExamEditorQuestionTopicDiv:extend(.ExamQuestionTopicDiv all) {
  /** style */
}

.ExamEditorQuestionTopicNameTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionTopicNameDiv:extend(.WrapExamQuestionTopicNameDiv all) {
  /** style */
}

.ExamEditorQuestionTopicImageDiv:extend(.ExamQuestionTopicImageDiv all) {
  /** style */
}

.WrapExamEditorQuestionTopicImageDiv:extend(.WrapExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ListExamEditorQuestionTopicImageDiv:extend(.ListExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionTopicImageUrlImg:extend(.ExamQuestionTopicImageUrlImg all) {
  /** style */
}

.ExamEditorQuestionChoiceDiv:extend(.ExamQuestionChoiceDiv all) {
  /** style */
}

.WrapExamEditorQuestionChoiceDiv:extend(.WrapExamQuestionChoiceDiv all) {
  /** style */
}

.ListExamEditorQuestionChoiceDiv:extend(.ListExamQuestionChoiceDiv all) {
  /** style */
}

.ExamEditorQuestionChoiceStatementTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionChoiceStatementDiv:extend(.WrapExamQuestionChoiceStatementDiv
    all) {
  /** style */
}

.ExamEditorQuestionChoiceImageDiv:extend(.ExamQuestionChoiceImageDiv all) {
  /** style */
}

.WrapExamEditorQuestionChoiceImageDiv:extend(.WrapExamQuestionChoiceImageDiv
    all) {
  /** style */
}

.ListExamEditorQuestionChoiceImageDiv:extend(.ListExamQuestionChoiceImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionChoiceImageUrlImg:extend(.ExamQuestionChoiceImageUrlImg
    all) {
  /** style */
}

.ExamEditorQuestionAnswerTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionSubjectTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionQidTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionTypeTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionYearTextField:extend(.BaseEditorTextField all) {
  /** style */
}

/** ======== following for homeless ========= */

@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
.ExamFilterDiv:extend(.CenterInParentColumn) {
}
