@import "./libs/slideshow.less";
@import "./libs/firebaseui.less";
@import "./libs/base.less";
/** following for examFilter  component used  */

.ExamFilterDiv {
  /** style */
}

.ExamFilterRandomTestDiv {
  /** style */
  height: 35vh;
  width: 72vw;
  max-width: 400px;
}

.ListExamFilterRandomTestFastRangeButtonGroup {
  /** style */
}

.ExamFilterRandomTestFastRangeButton {
  /** style */
}

.ExamFilterRandomTestSpaceDiv {
  /** style */
  height: 8px;
}

.ExamFilterRandomTestRangeOfYearSlider {
  /** style */
  width: 70%;
  margin-top: 20px;
}

.ListExamFilterRandomTestCountsOfExamRadioGroup {
  /** style */
}

.LabelExamFilterRandomTestCountsOfExamTypography {
  /** style */
}

.ExamFilterRandomTestCountsOfExamFormControlLabel {
  /** style */
}

.ExamFilterRandomTestBtnOfStartExamButton {
  /** style */
  font-size: 1rem;
}

.ExamFilterSpaceDiv {
  /** style */
  height: 10px;
}

.ExamFilterHistoryTestDiv:extend(.ExamFilterRandomTestDiv) {
  /** style */
  height: 25vh;
}

.ListExamFilterHistoryTestSelectorTextField {
  /** style */
}

.ExamFilterHistoryTestSelectorMenuItem {
  /** style */
}

.ExamFilterHistoryTestSpaceDiv {
  /** style */
}

.ExamFilterHistoryTestBtnWithHistoryButton:extend(.ExamFilterRandomTestBtnOfStartExamButton) {
}

.ExamFilterCloseButton {
  /** style */
}

/** following for purchaseSucceed  component used  */

.PurchaseSucceedDiv {
  /** style */
}

.PurchaseSucceedSucceedTitleTypography {
  /** style */
}

.PurchaseSucceedConfirmButton {
  /** style */
}

/** following for navigator  component used  */

.NavigatorDiv {
  /** style */
}

.NavigatorAppBarAppBar {
  /** style */
  height: 60px;
  display: flex;
  justify-content: center;
}

.NavigatorAppBarToolBarToolbar {
  /** style */
}

.NavigatorAppBarToolBarMenuIconButton {
  /** style */
}

.NavigatorAppBarToolBarMenuIconMenuIcon {
  /** style */
}

.NavigatorAppBarToolBarTitleTypography {
  /** style */
  font-size: 1rem;
}

.NavigatorAppBarToolBarToEditModeButton {
  /** style */
}

.NavigatorAppBarToolBarLoginButton {
  /** style */
  font-size: 0.8rem;
}

.NavigatorDrawerDrawer {
  /** style */
}

.NavigatorDrawerShortcutListItem {
  /** style */
}

.ListNavigatorDrawerShortcutList {
  /** style */
}

.NavigatorDrawerShortcutTitleTypography {
  /** style */
}

.NavigatorDrawerShortcutIconImg {
  /** style */
}

/** following for main  component used  */

.MainDiv:extend(.CenterInParentColumn) {
}

.MainViewPagerDiv {
  /** style */
}

.ListMainViewPagerFade {
  /** style */
}

.MainViewPagerImageImg {
  /** style */
}

.WrapMainViewPagerImageDiv {
  /** style */
}

.MainEnterPointPaper {
  /** style */
  min-height: 55px;
}

.WrapMainEnterPointGrid {
  /** style */
}

.ListMainEnterPointGrid {
  /** style */
}

.ListWrapMainEnterPointDiv {
  /** style */
}

.MainEnterPointTitleTypography {
  /** style */
  font-size: 1.1rem;
}

.MainCountdownPaper {
  /** style */
}

/** following for exam  component used  */

.ExamDiv {
  /** style */
}

.ExamHistoryFilterDiv {
  /** style */
  padding: 1px;
}

.ListExamHistoryFilterReplyTypeRadioGroup {
  /** style */
}

.LabelExamHistoryFilterReplyTypeTypography {
  /** style */
  font-size: 0.8rem;
}

.ExamHistoryFilterReplyTypeFormControlLabel {
  /** style */
}

.ExamHistoryFilterSpaceDiv {
  /** style */
  width: 5px;
}

.ListExamHistoryFilterWhichSubjectTextField {
  /** style */
}

.ExamHistoryFilterWhichSubjectMenuItem {
  /** style */
}

.ListExamHistoryFilterOrderByWhatTextField {
  /** style */
}

.ExamHistoryFilterOrderByWhatMenuItem {
  /** style */
}

.ExamQuestionCard {
  /** style */
}

.WrapExamQuestionDiv {
  /** style */
}

.ListExamQuestionDiv {
  /** style */
}

.ExamQuestionAlertOuterDiv {
  /** style */
  max-width: 30vw;
}

.ExamQuestionAlertAlertImageImg {
  /** style */
  height: 70%;
}

.WrapExamQuestionAlertAlertImageDiv {
  /** style */
}

.ExamQuestionTopicOfAssistantDiv {
  /** style */
}

.ExamQuestionTopicOfAssistantNameTypography {
  /** style */
}

.ExamQuestionTopicOfAssistantImageDiv {
  /** style */
}

.ListExamQuestionTopicOfAssistantImageDiv {
  /** style */
}

.ExamQuestionTopicOfAssistantImageUrlImg {
  /** style */
}

.ExamQuestionTopicDiv {
  /** style */
}

.ExamQuestionTopicNameTypography {
  /** style */
  font-size: 1.3rem;
}

.WrapExamQuestionTopicNameDiv {
  /** style */
}

.ExamQuestionTopicImageDiv {
  /** style */
}

.ListExamQuestionTopicImageDiv {
  /** style */
}

.ExamQuestionTopicImageUrlImg {
  /** style */
  width: 140px;
}

.ExamQuestionChoiceDiv {
  /** style */
}

.ListExamQuestionChoiceDiv {
  /** style */
}

.ExamQuestionChoiceStatementButton {
  text-align: left;
  font-size: 1.2rem;
  text-transform: none;
}

.WrapExamQuestionChoiceStatementDiv {
  /** style */
}

.ExamQuestionChoiceImageDiv {
  /** style */
}

.ListExamQuestionChoiceImageDiv {
  /** style */
}

.ExamQuestionChoiceImageUrlImg {
  /** style */
  width: 130px;
}

.ExamQuestionFunctionCenterDiv {
  /** style */
}

.ExamQuestionFunctionCenterAddToFavoriteButton {
  /** style */
  font-size: 0.9rem;
}

.WrapExamQuestionFunctionCenterAddToFavoriteReactFragment {
  /** style */
}

.ExamQuestionFunctionCenterCalloutHelpButton:extend(.ExamQuestionFunctionCenterAddToFavoriteButton) {
}

.WrapExamQuestionFunctionCenterCalloutHelpReactFragment {
  /** style */
}

.ExamQuestionTipTypography {
  /** style */
}

.WrapExamQuestionTipDiv {
  /** style */
}

.ExamQuestionDurationTypography {
  /** style */
}

.ExamQuestionReplyTimestampTypography {
  /** style */
}

/** following for result  component used  */

.ResultCard {
  /** style */
  flex: 1;
}

.ResultScoreTypography {
  /** style */
}

.ResultMessageTypography {
  /** style */
}

/** following for purchase  component used  */

.PurchaseDiv {
  /** style */
}

.PurchaseBannerImg {
  /** style */
}

.WrapPurchaseBannerDiv {
  /** style */
}

.PurchasePurchasePlanDiv {
  /** style */
}

.ListPurchasePurchasePlanDiv {
  /** style */
}

.PurchasePurchasePlanNameTypography {
  /** style */
}

.WrapPurchasePurchasePlanNameDiv {
  /** style */
}

.PurchasePurchasePlanSpaceDiv {
  /** style */
}

.PurchasePurchasePlanPriceTypography {
  /** style */
}

.WrapPurchasePurchasePlanPriceDiv {
  /** style */
}

.PurchasePurchasePlanPricePriceTipTypography {
  /** style */
}

.PurchasePurchasePlanBuyButton {
  /** style */
}

.WrapPurchasePurchasePlanBuyDiv {
  /** style */
}

/** following for whoknowz  component used  */

.WhoknowzDiv {
  /** style */
}

.WhoknowzFastCenterDiv {
  /** style */
}

.WhoknowzFastCenterCopylinkButton {
  /** style */
}

.WhoknowzFastCenterAskmrlinButton {
  /** style */
}

.WhoknowzQuestionReactFragment {
  /** style */
}

.WhoknowzAnswerCard {
  /** style */
}

.ListWhoknowzAnswerDiv {
  /** style */
}

.WhoknowzAnswerAnswerByTextTextField {
  /** style */
}

.WhoknowzAnswerImageDiv {
  /** style */
}

.ListWhoknowzAnswerImageDiv {
  /** style */
}

.WhoknowzAnswerImageUrlImg {
  /** style */
}

.WhoknowzSubmitButton {
  /** style */
}

.WrapWhoknowzSubmitReactFragment {
  /** style */
}

/** following for myFatefulQuestions  component used  */

.MyFatefulQuestionsDiv {
  /** style */
}

.MyFatefulQuestionsFilterDiv {
  padding-right: 5px;
  padding-left: 5px;
}

.ListMyFatefulQuestionsFilterWhichSubjectTextField {
  /** style */
  margin-left: 20px;
}

.MyFatefulQuestionsFilterWhichSubjectMenuItem {
  /** style */
}

.ListMyFatefulQuestionsFilterQuestionTypeTextField {
  /** style */
  margin-right: 20px;
}

.MyFatefulQuestionsFilterQuestionTypeMenuItem {
  /** style */
}

.MyFatefulQuestionsFatefulItemCard {
  /** style */
}

.ListMyFatefulQuestionsFatefulItemDiv {
  /** style */
}

.MyFatefulQuestionsFatefulItemQuestionTopicTypography {
  /** style */
}

.MyFatefulQuestionsFatefulItemQuestionInfoDiv {
  /** style */
}

.MyFatefulQuestionsFatefulItemQuestionInfoSubjectInfoTypography {
  /** style */
}

.MyFatefulQuestionsFatefulItemQuestionInfoCreateTimeTypography {
  /** style */
}

/** following for main editor component used  */

.MainEditorDiv:extend(.MainDiv all) {
  /** style */
}

.MainEditorViewPagerDiv:extend(.MainViewPagerDiv all) {
  /** style */
}

.WrapMainEditorViewPagerDiv:extend(.WrapMainViewPagerDiv all) {
  /** style */
}

.ListMainEditorViewPagerDiv:extend(.ListMainViewPagerDiv all) {
  /** style */
}

.MainEditorViewPagerRouteTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorViewPagerImageImg:extend(.MainViewPagerImageImg all) {
  /** style */
}

.WrapMainEditorViewPagerImageDiv:extend(.WrapMainViewPagerImageDiv all) {
  /** style */
}

.MainEditorEnterPointPaper:extend(.MainEnterPointPaper all) {
  /** style */
}

.WrapMainEditorEnterPointDiv:extend(.WrapMainEnterPointDiv all) {
  /** style */
}

.ListMainEditorEnterPointDiv:extend(.ListMainEnterPointDiv all) {
  /** style */
}

.ListWrapMainEditorEnterPointDiv:extend(.ListWrapMainEnterPointDiv all) {
  /** style */
}

.MainEditorEnterPointTitleTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorEnterPointRouteTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorEnterPointXsTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorEnterPointIndexOfSequenceTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.MainEditorCountdownPaper:extend(.MainCountdownPaper all) {
  /** style */
}

/** following for exam editor component used  */

.ExamEditorDiv:extend(.ExamDiv all) {
  /** style */
}

.ExamEditorHistoryFilterDiv:extend(.ExamHistoryFilterDiv all) {
  /** style */
}

.WrapExamEditorHistoryFilterDiv:extend(.WrapExamHistoryFilterDiv all) {
  /** style */
}

.ExamEditorHistoryFilterReplyTypeDiv:extend(.ExamHistoryFilterReplyTypeDiv
    all) {
  /** style */
}

.WrapExamEditorHistoryFilterReplyTypeDiv:extend(.WrapExamHistoryFilterReplyTypeDiv
    all) {
  /** style */
}

.ListExamEditorHistoryFilterReplyTypeDiv:extend(.ListExamHistoryFilterReplyTypeDiv
    all) {
  /** style */
}

.ExamEditorHistoryFilterReplyTypeLabelTextField:extend(.BaseEditorTextField
    all) {
  /** style */
}

.ExamEditorHistoryFilterReplyTypeValueTextField:extend(.BaseEditorTextField
    all) {
  /** style */
}

.ExamEditorHistoryFilterSpaceDiv:extend(.ExamHistoryFilterSpaceDiv all) {
  /** style */
}

.ExamEditorHistoryFilterWhichSubjectDiv:extend(.ExamHistoryFilterWhichSubjectDiv
    all) {
  /** style */
}

.WrapExamEditorHistoryFilterWhichSubjectDiv:extend(.WrapExamHistoryFilterWhichSubjectDiv
    all) {
  /** style */
}

.ListExamEditorHistoryFilterWhichSubjectDiv:extend(.ListExamHistoryFilterWhichSubjectDiv
    all) {
  /** style */
}

.ExamEditorHistoryFilterWhichSubjectLabelTextField:extend(.BaseEditorTextField
    all) {
  /** style */
}

.ExamEditorHistoryFilterWhichSubjectValueTextField:extend(.BaseEditorTextField
    all) {
  /** style */
}

.ExamEditorHistoryFilterOrderByWhatDiv:extend(.ExamHistoryFilterOrderByWhatDiv
    all) {
  /** style */
}

.WrapExamEditorHistoryFilterOrderByWhatDiv:extend(.WrapExamHistoryFilterOrderByWhatDiv
    all) {
  /** style */
}

.ListExamEditorHistoryFilterOrderByWhatDiv:extend(.ListExamHistoryFilterOrderByWhatDiv
    all) {
  /** style */
}

.ExamEditorHistoryFilterOrderByWhatLabelTextField:extend(.BaseEditorTextField
    all) {
  /** style */
}

.ExamEditorHistoryFilterOrderByWhatValueTextField:extend(.BaseEditorTextField
    all) {
  /** style */
}

.ExamEditorQuestionCard:extend(.ExamQuestionCard all) {
  /** style */
}

.WrapExamEditorQuestionDiv:extend(.WrapExamQuestionDiv all) {
  /** style */
}

.ListExamEditorQuestionDiv:extend(.ListExamQuestionDiv all) {
  /** style */
}

.ExamEditorQuestionAlertOuterDiv:extend(.ExamQuestionAlertOuterDiv all) {
  /** style */
}

.ExamEditorQuestionTopicOfAssistantDiv:extend(.ExamQuestionTopicOfAssistantDiv
    all) {
  /** style */
}

.ExamEditorQuestionTopicOfAssistantNameTextField:extend(.BaseEditorTextField
    all) {
  /** style */
}

.ExamEditorQuestionTopicOfAssistantImageDiv:extend(.ExamQuestionTopicOfAssistantImageDiv
    all) {
  /** style */
}

.WrapExamEditorQuestionTopicOfAssistantImageDiv:extend(.WrapExamQuestionTopicOfAssistantImageDiv
    all) {
  /** style */
}

.ListExamEditorQuestionTopicOfAssistantImageDiv:extend(.ListExamQuestionTopicOfAssistantImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionTopicOfAssistantImageUrlImg:extend(.ExamQuestionTopicOfAssistantImageUrlImg
    all) {
  /** style */
}

.ExamEditorQuestionTopicDiv:extend(.ExamQuestionTopicDiv all) {
  /** style */
}

.ExamEditorQuestionTopicNameTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionTopicNameDiv:extend(.WrapExamQuestionTopicNameDiv all) {
  /** style */
}

.ExamEditorQuestionTopicImageDiv:extend(.ExamQuestionTopicImageDiv all) {
  /** style */
}

.WrapExamEditorQuestionTopicImageDiv:extend(.WrapExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ListExamEditorQuestionTopicImageDiv:extend(.ListExamQuestionTopicImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionTopicImageUrlImg:extend(.ExamQuestionTopicImageUrlImg all) {
  /** style */
}

.ExamEditorQuestionChoiceDiv:extend(.ExamQuestionChoiceDiv all) {
  /** style */
}

.WrapExamEditorQuestionChoiceDiv:extend(.WrapExamQuestionChoiceDiv all) {
  /** style */
}

.ListExamEditorQuestionChoiceDiv:extend(.ListExamQuestionChoiceDiv all) {
  /** style */
}

.ExamEditorQuestionChoiceStatementTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.WrapExamEditorQuestionChoiceStatementDiv:extend(.WrapExamQuestionChoiceStatementDiv
    all) {
  /** style */
}

.ExamEditorQuestionChoiceImageDiv:extend(.ExamQuestionChoiceImageDiv all) {
  /** style */
}

.WrapExamEditorQuestionChoiceImageDiv:extend(.WrapExamQuestionChoiceImageDiv
    all) {
  /** style */
}

.ListExamEditorQuestionChoiceImageDiv:extend(.ListExamQuestionChoiceImageDiv
    all) {
  /** style */
}

.ExamEditorQuestionChoiceImageUrlImg:extend(.ExamQuestionChoiceImageUrlImg
    all) {
  /** style */
}

.ExamEditorQuestionTypeOfQuestionTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionAnswerTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionFunctionCenterDiv:extend(.ExamQuestionFunctionCenterDiv
    all) {
  /** style */
}

.ExamEditorQuestionSubjectTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionQidTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionTypeTextField:extend(.BaseEditorTextField all) {
  /** style */
}

.ExamEditorQuestionYearTextField:extend(.BaseEditorTextField all) {
  /** style */
}

/** ======== following for homeless ========= */

.ExamQuestionFunctionCenterOuterDiv {
  /** style */
  border-radius: 30px;
}

.ExamFilterSubjectTypography {
  /** style */
  font-size: 1.2rem;
}
